[2018-11-02 22:45] trigger-death opened #3 "LavaNode.TrackUpdate nullifies track during TrackReason.Replaced"
At the moment it's imposible to skip a song correctly because when a song is skipped, the `TrackReason.Replaced` Finished event is triggered and `LavaNode.TrackUpdate` nullifies the new track you assigned. Internally the playback works. But anything that relies on `LavaPlayer.CurrentTrack` is now broken.

**I suggest the following change:**
[code]

[2018-11-02 23:00] Yucked commented on #3
Hm, would it be better to do something like:
[code]

[2018-11-02 23:11] trigger-death commented on #3
Actually yeah that sounds good. Didn't even occur to me.

[2018-11-02 23:15] trigger-death opened #4 "LavaPlayer.Stop disposes of player, documentation labels it as a "Skip" feature"
So, it seems that either the documentation or functionality of `LavaPlayer.Stop()` is incorrect because once you call stop, the player is disposed of and can no longer be used.

Assuming it is supposed to end the current song to allow the next to play, then just removing `Volatile.Write(ref IsDisposed, true);` should do the trick:
[code]

[2018-11-03 01:58] Yucked commented on #4
Player can still be used and stop doesn't dispose of the whole player object and player object is not disposable, it just changes the `IsConnected` to true/false which is read via `Volatile.Read(ref isDisposed)` and yes it can be used for both skipping and stopping.

[2018-11-03 19:51] trigger-death commented on #4
But how do you reconnect the player to continue the queue? `IsDisposed` is only set to true in the constructor, so any chance to interact with the player will throw `InvalidOperationException` for not being connected.

[2018-11-03 20:18] Daniele122898 commented on #4
Im having the same issue. after the stop you cannot use any other commands. It will throw the exception and say its not connecting. Using the join command will say it connected but still throw the same errors. Its essentially useless after calling stop and the entire bot needs to be restarted otherwise he wont leave the channel

[2018-11-03 20:29] trigger-death commented on #4
I think the voice channel connection is *partly* a Discord.Net issue. It seems even calling `IVoiceChannel.DisconnectAsync()` does nothing after a bot restart while still in voice. As a workaround in the meantime:
[code]

[2018-11-03 23:00] Yucked commented on #4
So this problem should be fixed now. If you call play after calling stop it will work and no longer check if `IsConnected` is true and left up to user if they want to add it to their Play commands. Please let me know if this issue is solved or not and if it is feel free to close this issue.

[2018-11-03 23:00] Yucked commented on #3
Those changes have been implemented. Lemme know how it goes for you and close this issue if it works out.

[2018-11-04 22:30] Daniele122898 opened #5 "Skip function"
[code]

I see some problems with this code. As far as i understand how the wrapper is constructed the first dequeue doesnt do anything. Since the current track isnt part of the queue. also if the queue is empty it will set this disposed variable again which bricks the leave. So it doesnt leave but brick the leave function.
also the track that is used for the next track isnt dequeued.

[2018-11-04 22:38] Daniele122898 commented on #5
And some things still seem to be wrong. As shown here
![](https://cdn.argonaut.pw/H3cXL2qa7dhTVSltlDI1DSreoTV1mfGT.png)
Even after calling dequeue after skipping myself.

[2018-11-04 22:41] Daniele122898 commented on #5
I can manually remove the song but the title etc of current track are the one from the old one... idk whats up

[2018-11-05 13:48] Yucked commented on #5
Write you make a good point there. It wouldn't work for the very first track since the queue is empty.
*But* this shouldn't brick `LavaNode#LeaveAsync` since:

[code]

[code]
Which is called by `LavaNode#LeaveAsync`:
[code]
It isn't checking for whether the playing is connecting or not. It disconnects from the VoiceChannel and sets everything in `LavaPlayer` to null.

For the image itself, I don't

[2018-11-05 13:51] Yucked commented on #3
During recent update I've changed the whole method:
[code]

Hopefully that fixed the issues you were having. I'm now gonna be closing this issue.

[2018-11-05 13:51] #3 closed

[2018-11-05 14:44] Daniele122898 commented on #5
In the image i implemented your skip function. I had 2 tracks in the queue. Calling skip by itself wouldnt remove anything from the queue and still show the old track as its player.currentTrack but play the new track. So i added some code that removes the newly playing track from the queue after skipping. Now whats weird is that the track that is playing after skip is indeed the new track, but whe

[2018-11-05 17:56] Yucked commented on #5
Yeah so for the past few hours I've been trying to write a skip function without much success.
[code]

[2018-11-05 18:34] MonstahGames commented on #5
I didn't want to have to start a new issue so i'll just it here, It's not a big problem on my end, but when you call the Skip function on the last song it will replay that last song. Is this expected?

[2018-11-05 18:40] Yucked commented on #5
@MonstahGames Yeah that's the issue that I'm having as well. I add x thing and it breaks y for some reason. Part of my wants to change the Queue to a HashSet but there is no guarantee of tracks being in correct order.

[2018-11-05 20:56] Yucked commented on #5
So I was able to fix the skip thing with `ConcurrentQueue` but that makes Dequeue(LavaTrack/s) things useless coz ConcurrentQueue de-queues the first object from the queue.

If you guys are find with it, then I'll make sure and replace the default queue stuff.

Other option is to build a default collection based on LinkedList if you want to keep the same functionality. Something like:
[code]
and s

[2018-11-05 21:16] Daniele122898 commented on #5
i mean all u will ever need is to pop the first item from a queue. thats what a queue is for. no need to search a specific track. skipping a song is essential for any music player so having that working is way more important ^^.

[2018-11-06 22:45] #4 closed

[2018-11-06 22:47] Yucked commented on #5
So, I've *fixed* the skip function by changing couple of things around and making queue stuff a lot easier to understand. I've tested it with 3 tracks and it seems to be working as expected. Further testing might be required or perhaps intense testing but it should get the basic work done.

[2018-11-07 18:53] WorkingRobot opened #6 "Implement shuffle and repeat function"
Add the ability to shuffle all the tracks in the queue, and also add the feature to loop the queue (e.g off, repeat queue, repeat one)

[2018-11-07 23:02] Yucked commented on #6
Hey, all of that can be achieved in OnFinished event. Get a random track from queue and play it and that would count as shuffling and looping also requires you using OnFinished event.

[2018-11-09 23:21] #5 closed

[2018-11-12 22:10] Yucked commented on #6
Sure thing. Feel free to open a PR when you add it.

[2018-11-15 00:13] Yucked commented on #6
I've added the shuffle method in the rewrite. If you wanna use it here it is:
https://github.com/Yucked/Victoria/blob/lab/Entities/LavaQueue.cs#L106

[2018-11-15 00:13] #6 closed

[2018-11-15 07:53] WorkingRobot opened #9 "More optimized shuffle implementation"
https://github.com/Yucked/Victoria/blob/bd4db372730794d5c0fe56e502e97d3fa11f5f99/Entities/LavaQueue.cs#L106

The current implementation used is slow and not very efficient. The following is better:

    public static void Shuffle<T>(this LinkedList<T> list)
        {
            if (list.Count < 2)
            {
                return;
            }
            var result = new T[list.Count];

[2018-11-15 17:41] Yucked commented on #9
Thanks! https://github.com/Yucked/Victoria/blob/lab/Entities/LavaQueue.cs#L109

[2018-11-16 10:16] #9 closed

[2018-11-17 21:37] Yucked opened #11 "Websocket Resume"
Just so I don't forget about it:
Lavalink Resuming Websockets: https://github.com/Frederikam/Lavalink/pull/150
Implementation: https://github.com/Frederikam/Lavalink/blob/feature/resume/IMPLEMENTATION.md#resuming-lavalink-sessions

[2018-12-07 09:08] WorkingRobot opened #12 "Remember if paused"
The player should be able to implement a function to pause/resume with one function, or at least have a variable to keep track if the player has been paused.

[2018-12-07 13:24] Yucked commented on #12
Public or private property for pause?

[2018-12-07 17:34] Yucked commented on #12
Alright bet

Edit: Added!

[2018-12-12 00:43] #12 closed, assigned to Yucked

[2018-12-15 03:26] Yucked opened #13 "Features & Extensions"
- [ ] Websocket Resume [Lavalink #150](https://github.com/Frederikam/Lavalink/pull/150)
- [x] Implement Lyrics API [Lyrics.ovh](https://lyricsovh.docs.apiary.io/#)
- [x] Thumbnail Artwork via [Lavaplayer #101](https://github.com/sedmelluq/lavaplayer/pull/101) or Genuis/Spotify API.

[2018-12-17 19:31] Yucked opened #14 "Examples Needed!"
Hey Squad Fam!

I need couple bots to link as example in README. If there are a lots of them, I'll keep this issue open so people can keep linking their bots and let new users decide which example they want to follow depending on their bot design.

When linking your bot, please also post which version of Victoria you are using.

Thanks! 👏

[2018-12-17 19:32] joelp53 commented on #14
Party-Bot - Victoria 3.1.2 - https://github.com/joelp53/Party-Bot

[2018-12-18 02:49] Yucked commented on #13
I tried genius before and it was a lot of work with cleaning up strings and what not. Not sure if it's still the case or not.

[2018-12-24 12:12] Bluheir opened #16 "Adding playlist videos to queue can sometimes glitch"
For some reason when downloading a playlist, some videos may be in the right order, some in the wrong order and some videos aren't even added at all. I found that out when I looked at the videos queue count not being equal to the playlist. For example, I tried a playlist with 121 videos, and when I checked the queue length, there were 119 videos. The videos at the start and end of the queue where

[2018-12-24 13:38] Yucked commented on #16
Can you also post the search query that you used?

[2018-12-24 20:41] Bluheir commented on #16
Usually, playlists with a lot of videos (around 40+) miss some videos, but the playlist I'm using for testing is [https://www.youtube.com/playlist?list=PLfqG5iHWv6zvICG1a1XDHcPv7r3RwPttg](url)

[2018-12-24 23:49] Yucked commented on #16
@Bluheir Hey, I just checked it myself and I've no idea why it's being left out. Either it's not available in the country or something wrong on Lavalink's side.

[2018-12-25 04:03] Yucked commented on #16
Isn't it this:
[code]

If I understand correctly doesn't that mean 600 videos since 1 page contains 100 videos?

[2018-12-26 04:02] Yucked commented on #16
Yeah I can't figure it out myself. Maybe trying playing another Playlist and see how it goes @Bluheir

No response from author. Closing this. Feel free to reopen this issue.

[2018-12-30 00:30] #16 closed, assigned to nobody

[2019-01-10 15:41] Yucked commented on #13
Resume blocked till https://github.com/dotnet/corefx/issues/34398

[2019-01-11 19:02] sudo-gab opened #20 "Update Discord.Net dependencies to 2.0 stable"
Since Discord.Net officially released stable 2.0, dependencies should be updated to it, with that the readme should be updated accordingly too
edit: nevermind im blind

[2019-01-11 19:06] #20 closed, assigned to nobody

[2019-01-12 23:09] renanrcp opened #21 "System.NullReferenceException in Victoria.Lavalink.<AddNodeAsync>"
Hey, i have this build problem:
Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object. in Victoria.Lavalink.<AddNodeAsync>d__9.MoveNext()
But this reference isn't null:
`var node = await _lavalink.AddNodeAsync(_client);`

_client:
`private DiscordSocketClient _client;
_client = new DiscordSocketClient();
`
If anyone can help, I appreciate it :)

[2019-01-13 00:03] renanrcp commented on #21
This problem can be solved by removing this command from Program.cs

[2019-01-13 00:03] #21 closed, assigned to nobody

[2019-02-21 21:17] LewisTehMinerz commented on #14
Satania - Victoria 3.3.0 - https://satania.discord.bot

[2019-02-23 08:31] TheMulti0 opened #24 "Suggestion: Make DiscordClient Requirement Optional"
Some people don't actually need to create DiscordClient in order to use the Lavalink REST API only - just for searching tracks, not for connecting to a voice channel.

I say, extract an interface that LavaNode will implement - `ISearchable` which will have the methods: `GetTracksAsync`, `SearchFromYouTube`, `SearchFromSoundcloud`. And Lavalink will have the following method: `ISearchable GetSearch

[2019-02-23 15:06] Yucked commented on #24
That sounds like a good idea. Although GetSearchableNode doesn't make much sense or making an interface. I'd look into a way to separate those methods to give more flexibility.

[2019-02-23 15:53] TheMulti0 commented on #24
Perhaps a better idea is to have a base class `LavalinkNode` which will have the most basic stuff that have nothing to do with Discord and Lavalink REST API (probably `InitializeAsync(Configuration config = default)` and so).

Then have a class called `SearchableNode` or so - which extends `LavalinkNodeBase` but offers the search method.
Maybe create a few more separations you can think of, but th

[2019-02-23 16:41] Yucked commented on #24
I can design it like discord.net - LavaSocket, LavaRest, LavaPlayer, SocketManager(?)

Edit: Wrote that in a hurry.

LavaSocket will act as a node since LavaNode basically handles the socket and rest connection but this time it will only handle socket related stuff.

LavaRest will separatel Rest stuff from LavaNode such as GetTracksAsync and ConfigureResumeAsync.

LavaPlayer will stay the same but

[2019-02-24 15:20] TheMulti0 commented on #24
That is great!

2 more suggestions:
a. Rename `SocketManager` to `LavaSocketManager`.
b. Have a base class called `LavaBase`, which will have the most basic method - `Initialize` (with config)

[2019-02-24 15:22] TheMulti0 opened #25 "Suggestion: Use Newtonsoft.Json (JSON.NET) instead of Microsoft's default serializers"
Newtonsoft.Json is much faster and more powerful than .NET's JSON serializers.
https://www.newtonsoft.com/json/help/html/JsonNetVsDotNetSerializers.htm

[2019-02-24 16:39] Yucked commented on #25
Hey, what I was using before was not Microsoft's default serializer but something that is in testing and will be matching Json.NET performance and also replace Json.NET in Asp.NET application:
https://github.com/dotnet/corefxlab/tree/master/src/System.Text.JsonLab.Serialization

Although, for time being I've switched to Json.NET since I need a working prototype but when JsonLab.Serialization is ou

[2019-02-24 16:43] Yucked commented on #24
I'm looking into renaming the current SocketManage(SocketPool), just want something that isn't super long in terms of naming. And, base class wouldn't make sense at all. This is [LavaRest](https://github.com/Yucked/Victoria/blob/v4/LavaRest.cs) and [LavaSocket](https://github.com/Yucked/Victoria/blob/v4/LavaSocket.cs), they don't have anything in common.

[2019-02-24 18:37] TheMulti0 commented on #24
Okay then, Very well!
About the base class, I agree but you then may not even want empty interface, or some way to link them, so you can store all of the nodes in one collection.

The hardest thing is figuring out how would one be able to create a node? Perhaps a simple constructor with Configuration as a parameter, since you probably wont be able to add all of the different nodes to one collectio

[2019-02-24 18:40] TheMulti0 commented on #25
I did noticed that you're using C# 8 + .NET Core 3.0, which is great!
However I did not find an online documentation of `JsonLab.Serialization`, so didn't understand the benefits of it yet.

[2019-02-24 18:43] Yucked commented on #25
It's just going off of https://github.com/dotnet/corefx/issues/34372

Edit:
Closing this issue now since JSON.NET is being used.

[2019-02-24 18:45] TheMulti0 opened #26 "Suggestion: Target the lowest .NET Standard version possible in addition / instead of .NET Core 3.0"
[.NET Standard ](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) is amazing in my opinion, and while it is incredible that you're keeping up with the latest C# 8 and .NET Core 3.0 Preview, I do believe that some people that target different versions would love this library to target the lowest version of .NET Standard, to support as much as .NET different versions as possible.

I'm

[2019-02-25 03:45] Yucked commented on #26
That's definitely in todo list rn.

[2019-02-25 08:45] TheMulti0 commented on #26
Perfect!
You will probably Target netstandardv1.1 because it's the lowest one that implements System.Web & System.Net

[2019-02-25 15:54] Yucked commented on #26
Standard 1.1 is way too low. Iirc even D.NET doesn't target 1.1.

[2019-02-25 20:01] Yucked commented on #26
Targeted standard 2.0 along with core3.0 in the latest commit. Closing this issue now.

[2019-02-25 20:02] #25 closed, assigned to Yucked

[2019-02-25 20:06] Yucked commented on #24
I've updated the project structure again. Since there is `DiscordShardedClient` and `DiscordSocketClient` I've split the project into the same way; `BaseLavaClient` - `LavaShardClient` which manages `DiscordShardedClient` and `LavaSocketClient` which manages `DiscordSocketClient`. They both share the same methods besides the disconnect event and all of that implementation is in `LavaBaseClient` wh

[2019-02-26 06:22] TheMulti0 commented on #26
@WorkingRobot why? The lower the standard version the more frameworks you support which is legendary

[2019-02-27 09:26] TheMulti0 commented on #26
@Yucked why is it way too low?? Supports.more frameworks

[2019-02-27 17:39] TheMulti0 opened #27 "Suggestion: Make all folders not be a namespace provider"
So I love namespaces, and you've arranged the folder structure perfectly in your library, but I think that when designing a library, you should keep in mind that the user prefers not to import many different namespaces.
And since you have about 2 folders deep (ex: `Victoria.Entities.Enums`) I think disabling namespace provider on each folder- aka putting all classes at the `Victoria` root namespac

[2019-02-27 18:29] Yucked commented on #26
@TheMulti0 Majority of the people don't even standard 1.0 installed so there would be no point of me targeting the lowest standard version. Standard 2.0 is basically installed on almost every machine and it covers almost all APIs needed.

[2019-02-27 18:34] Yucked commented on #27
I'm not sure about that. It just looks like bad design and I'm sure everyone would agree with that. The only namespace I do wanna change is `Victoria.Entities.Responses` since it almost all the entities in Entities folder are responses, so I might move entities in Responses to root Entities.

[2019-02-27 19:10] TheMulti0 commented on #27
@Yucked Newtonsoft Json for example has most classes in the same namespaces.
Same does Microsoft ASP.NET libs, log4net and any major libs because it's a hassle to import multiple namespaces for one functionality.

[2019-02-27 19:11] TheMulti0 commented on #26
@Yucked but why not use 1.1, that way people with older needs will be able to use it if they wanted, and you won't really lose functionality. If you won't have the apis u need in 1.1 you may still find a low version that works for you ..

[2019-02-28 23:41] Yucked commented on #26
@TheMulti0 I tried targeting 1.3 since that's the lowest version that D.NET targets but I had to install additional nuget packages just to get it working and I believe ValueTask wasn't even supported.

[2019-02-28 23:42] Yucked commented on #24
Release notes: https://github.com/Yucked/Victoria/wiki/%F0%9F%93%91RELEASE-NOTES

Closing this issue now.

[2019-02-28 23:42] #24 closed, assigned to Yucked

[2019-03-01 19:19] Yucked commented on #27
I moved all sub-entities in entities folder. Shouldn't have to import Entities.Enums / Entities.Responses.
Closing this issue now.

[2019-03-01 19:19] #27 closed, assigned to Yucked

[2019-03-02 08:04] TheMulti0 commented on #24
Cool! I like how half of the additions are based on my issues xD

[2019-03-03 22:46] #26 closed, assigned to Yucked

[2019-03-22 00:40] Earu opened #31 "[ Feature Request ] voice channel connection options in configuration"
It would be interesting to have options in the configuration object like:

- InactivityMaxTime (TimeSpan) which would refer to how long the connection to a voice channel should be maintained when the bot is not playing anything.
- DisconnectWhenInactive (bool) which would refer to whether or not the connection should be dropped when we are not playing anything.
- DisconnectWhenEmpty (bool) which w

[2019-04-02 20:27] emre1702 opened #32 "[ BUG ] SetVolumeAsync after SkipAsync (can) throw(s) InvalidOperationException"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

If you try to set the volume with LavaPlayer.SetVolumeAsync after skipping the current track with SkipAsync, you can get an exception:

I get this problem in Discord.Net commands using your Prototype bot.
Only added a SetVolume command and it normally wo

[2019-04-02 20:43] emre1702 commented on #32
Downloaded the source code and went through with the debugger.
The bug happens because of the TrackEnd event:
https://github.com/Yucked/Victoria/blob/v4/LavaBaseClient.cs#L255

Here IsPlaying is set to false.

[2019-04-02 20:50] emre1702 commented on #32
And the easy solution should be to change from:
[code]
to
[code]

[2019-04-02 20:59] Yucked commented on #32
That fix doesn't make sense. When OnFinished event is fired that means player is not playing anything at all which is why it should be false regardless of if the track is replaced.

[2019-04-02 21:02] emre1702 commented on #32
If you skip a track, the previous track is finished.

Maybe it would make more sense if there was a TrackStart event where IsPlaying gets set to true (instead of instantly setting IsPlaying to true at SkipAsync).

[2019-04-02 21:06] Yucked commented on #32
When you skip a track the previous track is replaced. And, all events are what lavalink emits. There is only a single custom event which is `Log`. When you call `SkipAsync` it calls `PlayAsync` internally which sets `IsPlaying` to true. Now, I'm unsure if that may be getting overridden by the OnTrackFinished event for which you opened the PR for. I guess your PR does make sense now that I think ab

[2019-04-02 21:31] emre1702 commented on #32
And because the events comes a bit later (from WebSocket), I could use SetVolumeAsync right after using SkipAsync, but not later in another command.
Is solved now.

[2019-04-02 21:31] #32 closed, assigned to Yucked

[2019-05-16 23:06] Yucked commented on #31
Implemented.

[2019-05-16 23:06] #31 closed, assigned to Yucked

[2019-06-17 16:45] Yucked opened #40 "[ PROPOSAL ] v5 Feedback and Discussion"
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`

I'm adding everything in a single project instead of creating 4 different packages for each thing. The original idea was to have 4 projects like so:

- `Victoria.Commons`: Contains base classes that will be utilized by Frostbyte and Lavalink.
- `Victoria.Ad

[2019-06-17 16:57] DraxCodes commented on #40
Personally I think the multiple package idea would be better instead of just the one. I can already imagine situations where I wouldn't need to use Addons. I also feel like having both the Frostbyte and Lavalink in the same package is a tad redudant, why would I want to use both? Surely I'd just download the one that I want, whether that be Frostbyte or LavaLink

Just some thoughts. Keep up the go

[2019-06-17 20:48] Earu opened #41 "[ BUG ] No payloads from LL after a while"
After a while, apparently mostly after using SoundCloud tracks, Victoria does not receive anymore payloads from Lavalink. I tried using `LogSeverity.Debug` which bypasses the `Players.TryGetValue` check, and nothing gets logged so the problem comes from something else than a threading issue. It could be the `SocketHelper` class or Lavalink itself, although the later seems unlikely considering I've

[2019-06-17 21:02] Earu commented on #41
Possible relevant issue: https://github.com/Frederikam/Lavalink/issues/177

[2019-06-20 13:10] TheMulti0 commented on #40
I like the idea of separating the packages, though I did not understand what did you mean by 'keeping it a single project', because seperating into multiple packages is impossible without seperating into different projects.
I'm not sure that having an additional package called Victoria that contains them all is a good idea, it might confuse people which will try installing both Victoria and the ot

[2019-06-20 14:24] Yucked commented on #40
It will similar to how D.NET, if you install D.NET it installs all the other packages and it will similarly. I'll be breaking the project into several separate projects.

[2019-06-20 14:58] TheMulti0 commented on #27
@Yucked Hey there. I'd like to re-open this suggestion for v5, and I'll shortly remind why did I firstly want to do this.
An API should have as much as imports involved for the consumer per project, because it is a hassle to import many different namespaces like; Victoria.Entities, Victoria.Helpers.
I do appreciate that the main classes are all in the root folder, but I think all classes in an API

[2019-06-20 16:19] Yucked commented on #27
You should post that in #40

[2019-06-20 18:49] TheMulti0 commented on #27
I was going to, but then I thought it may not be that much architectural as the discussion there. I'll re-post there.

[2019-06-20 18:55] TheMulti0 commented on #40
I think that when designing a library, you should keep in mind that the user prefers not to import many different namespaces.
I like the folder scheme in Victoria, but I think that APIs should only have one namespace per project or package, meaning that all classes in Victoria.Frostbyte will be organized in folders, but their namespace will be the root namespace; Victoria.Frostbyte.

[2019-06-20 19:51] Yucked commented on #40
Since the new version isn't done I will be keeping the namespaces like so. If I see a user has to import a lot of namespaces then I'll definitely move entities and sub-dirs in entities to just entities otherwise user won't be importing much.

[2019-06-21 03:34] TheMulti0 commented on #40
I still think that you should use the root namespace, but it's better than nothing.

[2019-06-23 12:42] ChrisVDB36 commented on #40
I hope im on the right side here (still new in using github tho i already have an account for a while :P)
But I am using your Victoria package to play music on my personal discord bot, however, i would like to show a text in my chat with all information and for that I also want to show the requester's name, but there is no extra property available in the LavaTrack for that, could it be a possibili

[2019-06-23 12:45] TheMulti0 commented on #40
@ChrisVDB36 There is no need for inheritance. The easiest solution is to have a custom queue which is some kind of dictionary of LavaTrack, Member that requested the command, that way when the some LavaTrack is playing, you can match its requester.

[2019-06-23 12:48] ChrisVDB36 commented on #40
Thanks for your fast answer, thought I gotta admit I am not so good yet on that area (queue's) but I will try it out and see how far I can get this done, thanks again have a nice day

[2019-07-05 19:55] Nothing-Just-a-Code opened #46 "Got error while searching youtube song"
When i run search code i got this error

Newtonsoft.Json.JsonReaderException
  HResult=0x80131500
  Message=Error reading JObject from JsonReader. Path '', line 0, position 0.
  Source=Newtonsoft.Json
  StackTrace:
   at Newtonsoft.Json.Linq.JObject.Load(JsonReader reader, JsonLoadSettings settings)
   at Newtonsoft.Json.Linq.JObject.Parse(String json, JsonLoadSettings settings)
   at Newtonsoft.J

[2019-07-05 19:57] Yucked commented on #46
Hey another user reported that error few minutes ago. For them it was a matter of incorrect password I believe. Set Victoria's log severity to debug and let me know what it reports when you search for a song again and also post lavalink logs.

[2019-07-09 14:56] #46 closed, assigned to nobody

[2019-07-09 14:56] #13 closed, assigned to Yucked

[2019-07-10 23:56] #40 closed, assigned to Yucked

[2019-07-10 23:56] Yucked commented on #41
Probably fixed in v5 with resuming support.

[2019-07-10 23:56] #41 closed, assigned to Yucked

[2019-07-11 09:55] ChrisVDB36 opened #47 "Editing Victoria..."
Are we allowed to download, edit & recompile Victoria??
I would like to edit a few things on this but only if allowed.

Thanks in advance

[2019-07-11 12:24] Yucked commented on #47
It's under MIT broski, go nutsi. Just make sure you give credit where its due since many people worked on it.

[2019-07-11 22:12] ChrisVDB36 commented on #47
Im still kinda newish to all this github stuff ;p thats why I asked.
Now I just need to figure all this out, still in a learning branching on C#, I assume this is compiled in VS 2019 as in my 2017 a lot of errors pop up.

Thanks for your response

[2019-07-11 22:23] Yucked commented on #47
Version 5 is in 2019 targets net core 3.0 prev 6. Since you're new to github you can fork it or download it and clone it to your desktop.

[2019-07-12 08:42] ChrisVDB36 commented on #47
I see, will try that out this weekend.
Thanks a lot for all the information, have a nice day

[2019-07-14 00:04] #47 closed, assigned to Yucked

[2019-07-30 07:07] ChrisVDB36 opened #48 "[ BUG ] Playing music via YouTube url's stopped working since this morning"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Everything was working fine up until this morning where a user in my discord reported the bot been broken when looking up youtube urls...
Everything still works for other services such as for example: soundcloud

I tried many different things to come to

[2019-07-30 13:14] Yucked commented on #48
The recent issues on Lavaplayer: https://github.com/sedmelluq/lavaplayer/issues

Nothing to do with Victoria

[2019-07-30 16:35] ChrisVDB36 commented on #48
Okidoki, reporting the issue there, sorry for the time waste
Have a nice day

[2019-07-30 16:41] Yucked commented on #48
No worries fam squad. Closing this issue now.

[2019-07-30 18:19] ChrisVDB36 commented on #48
Hey, some guy told me there that it was an issue with LavaPlayer and it got updated to a newer version, do I need to do something to make this work now or can you fix this on your side? I am not sure what to do atm this is all still a learning process for me, sorry if i come over as spam im just trying to get this fixed, thanks in advance

Version 1.3.19 is out he said

[2019-07-30 18:22] MCOfficer commented on #48
I wrote my explanation (the way i see it, corrections from actual experts welcome) over at sedmelluq/lavaplayer#200, the aforementioned issue.

[2019-07-30 18:48] Yucked commented on #48
Victoria doesn't require any change on it's side unless Lavalink pushes out a new feature or introduces a breaking change. Once Lavalink implements the latest version of Lavaplayer, you'd have to download new version of Lavalink and everything should be good to go.

Lavaplayer in Victoria doesn't represent LavaPlayer library. It behaves like an audio player that's it.

[2019-07-31 09:29] freyacodes commented on #48
There appears to be a lot of confusion regarding this issue. This was a problem with Lavaplayer that was promptly fixed in Lavalink before this issue was opened. It is not relevant to Victoria.

[2019-07-31 14:20] Yucked commented on #48
Thanks for clearing it up Fred and MCOfficer.
Feel free to open an issue Chris if you come across any issues related to Victoria.

Closing this issue now.

[2019-07-31 14:20] #48 closed, assigned to Yucked

[2019-09-09 14:36] collectVood opened #51 "[ BUG ] IsPlaying showing wrong value."
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Sometimes randomly IsPlaying seems to be false even though the player is playing something. Triggered when trying to skip the current track.

### `Stacktrace / Screenshots`

Stacktrace: This operation is invalid since player isn't actually playing anythi

[2019-09-09 15:05] Yucked commented on #51
What version are you on

[2019-09-09 15:14] collectVood commented on #51
Was on the latest build (v4) switched to the nightly one but same issue

[2019-09-09 23:46] Yucked commented on #51
Nightly isn't even stable but when skipping and playing a song it shouldn't throw that specific error.

I'll re-open this issue if you are still encountering this problem.

[2019-09-25 20:48] #51 closed, assigned to Yucked

[2019-10-21 17:36] Atm85 opened #53 "How to run LavaLink in the cloud?"
I have LavaLink running on a Linux instance using aws and I have port 2333 allowed though its firewall but I cant seem to connect to it
[code]

[2019-10-21 18:11] Yucked commented on #53
Uh can you ping lavalink or that port through another machine?

[2019-10-22 13:50] DraxCodes opened #54 "[ BUG ] V5 has a dependency on Socks v1.4.1 but it's not available on Nuget"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

As the title says, the latest version of Victoria requires Socks v1.4.1. However it's not currently available. As such we are unable to update to the latest version via Nuget.

ℹ️ (Not an issue if we simply add the source ourselves, however I doubt every

[2019-10-22 14:58] #53 closed, assigned to nobody

[2019-10-22 15:05] Atm85 opened #55 "Authorization failed for 127.0.0.1 on GET /loadtracks"
I get this error when trying to use different passwords other then the default "youshallnotpass"
[code]
[code]
[code]

[2019-10-22 15:15] Yucked commented on #55
Looked at the source code and it shouldn't be happening. Gonna try reproducing it.

[2019-10-22 15:26] Yucked commented on #55
So, I did the same exact thing as you and I didn't see that problem.

![image](https://user-images.githubusercontent.com/20461656/67302133-47a09c00-f4a5-11e9-9a9f-e68438ea76ea.png)

I'm using Victoria's latest 4.x version.

[2019-10-22 15:34] Atm85 commented on #55
I'm using v4.0.17! I just checked...

[2019-10-22 15:37] Yucked commented on #55
Do you have your repo on GitHub? I can take a look at it and see what's up. The only thing I can think of is having 2 instances of `LavaSocketClient` but I doubt that should cause any problems. The lavalink instance that you're trying to connect to, is it on the same machine or on a different machine?

[2019-10-22 15:39] Atm85 commented on #55
its not currently on github, but my lavalink instance is running on the same machine

[2019-10-22 15:46] Yucked commented on #55
OH WAIT. I see the problem. Okay so, for REST related stuff you need `LavaRestClient`, in your `LavaRestClient` constructor, you pass in the same `Configuration` that you passed in `LavaSocketClient`.

If your `LavaRestClient` is in DI, just do it this way instead:

[code]

That should solve the GET/loadtracks stuff.

`LavaSocketClient` or anything inherited from `LavaBaseClient` will not be the s

[2019-10-22 17:27] Atm85 commented on #55
Ah, make sense! I'll give it a try sometime later today

[2019-10-26 09:19] designed-re opened #56 "[ BUG ] VolumePayload gives a JSON that doesn't work"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

LavaPlayer.cs:188 | var payload = new VolumePayload(VoiceChannel.GuildId, volume);

new VolumePayload gives a JSON that doesn't work
### `Stacktrace / Screenshots`

Lavalink Error
2019-10-26 18:13:19.585  INFO 9920 --- [   XNIO-2 I/O-1] lavalink.server.i

[2019-10-26 13:23] Yucked commented on #56
Hey which version is that?

[2019-10-27 04:15] designed-re commented on #56
v5

[2019-10-27 13:49] Yucked commented on #56
Thanks. I realized my mistake - well System.Text.Json mistake. Will push a change in few hours.

[2019-10-27 15:19] designed-re commented on #56
:) thanks

[2019-10-28 02:33] Yucked commented on #55
Closing this issue now. Feel free to open it again.

[2019-10-28 02:33] #55 closed, assigned to Yucked

[2019-10-28 02:34] Yucked commented on #54
Socks is now on nuget!

[2019-10-28 02:34] #54 closed, assigned to Yucked

[2019-10-28 02:35] Yucked commented on #56
Fixed this issue in latest push. Waiting on nuget to remove the old version so I can upload the new one. Till then you can use myget: https://www.myget.org/F/yucked/api/v3/index.json

Closing this issue now. Feel free to reopen it.

[2019-10-28 02:35] #56 closed, assigned to Yucked

[2019-11-21 04:06] A5ho9999 opened #59 "[ PROPOSAL ]"
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`

*Is it possible to add to the example, how to DisconnectAsync or DisposeAsync the LavaNode?.*

[2019-11-21 04:10] Yucked commented on #59
That will vary from case to case basis. If you simply want to connect to a different `LavaNode` then you can have a command that simply calls: `LavaNode#DisconnectAsync()` then `LavaNode#DisposeAsync()`. Or, you can just call `DisposeAsync` as it will just call `DisconnectAsync` for you.

[2019-11-21 08:37] #59 closed, assigned to Yucked

[2019-12-25 19:01] ChrisVDB36 opened #60 "[ PROPOSAL ] Playing from stream"
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`

Not sure if i need to ask this here.. but here i go :P
Would it be possible to make the player also play music from a memory stream containing byte[] data?
Like  for example, i currently use victoria for all my music handling with youtube etc but I also hav

[2019-12-25 21:26] Yucked commented on #60
In your Lavalink `application.yml` check if `local: false` is set to true then use `LavaNode#SearchAsync` and pass in the path where the file is located at so for example:
`node.SearchAsync("C:/Users/Yucked/Music/Bruh.mp3");`

[2019-12-25 22:55] ChrisVDB36 commented on #60
Hey, merry christmas :D and thanks for your response.
I use the local setting at the moment and I currently create a temp. file from the byte[] data i have stored for each mp3 in my database, then i use this path to give to lavalink which works perfect but my program to control my bot (made in wpf) can play sound via memory stream using naudio and I found it interesting trying this out for my bot

[2019-12-26 01:17] Yucked commented on #60
Merry Christmas to you too!

If I'm following this correctly, you've mp3 files stored as byte array in your database and you wanna play that via Lavalink? If so, Lavalink does not accept file streams or streams of any kind. You need to send a valid track hash to Lavalink in `PlayPayload` and Lavalink will manually load the track and stream it to Discord on your behalf. You'd have to talk to Lavali

[2019-12-26 15:37] ChrisVDB36 commented on #60
Hey,

Yes, correct, I have MP3 files stored in my database as byte array which I would like to play via a memory stream rather then having to create a temporary file on disk. As far as this is possible offcourse.
I will go ask the owner of lavalink if he wants to consider doing this, hopefully, cause I would try it out but I dont understand so well yet how lavalink was made or victoria, im startin

[2019-12-26 17:05] Yucked commented on #60
Think of Lavalink as Discord and Victoria as Discord.NET. Victoria is just a wrapper around Lavalink.

Also, another way of doing this would be to upload the files to a direct mp3 hosting site and saving those links to database so you can easily send them to lavalink.

[2019-12-30 04:40] #60 closed, assigned to Yucked

[2020-01-08 22:50] D-Kay6 opened #61 "Change LavaNode.UpdateTextChannel parameters"
May I ask why you made the decision to have both the IGuild and ITextChannel as parameters for the method UpdateTextChannel in LavaNode?
As ITextChannel already has IGuild as a property, I fail to see why you would also want IGuild as a parameter for the method.

[2020-01-08 23:07] Yucked commented on #61
Thanks for pointing that out! I came across that one couple days ago as well. Will remove the redundant parameter in next release.

[2020-01-09 00:15] Yucked commented on #61
Fixed in commit https://github.com/Yucked/Victoria/commit/5f81e286cf87607ca1e5ff2634becf8cd59a7323.

[2020-01-09 00:15] #61 closed, assigned to Yucked

[2020-01-10 02:09] snoww opened #62 "[ PROPOSAL ] Know the user who queued the track"
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`

I would like to know who queued the track when getting the tracks. Not sure where the property should be added to, perhaps LavaTrack? not sure about that one

### `Pseudo Code:`

maybe something like
`track.QueuedBy`

[2020-01-10 02:28] Yucked commented on #62
Hey, you can extend `LavaTrack` or have a class that implements `IQueueable`. For example:

[code]

[code]

[2020-01-10 14:28] snoww commented on #62
I implemented `IQueueable`, but when I queue the track, I lose the user I lose the user information. Same issue when getting the player’s current track. I’m not sure how I’d go on extending LavaTrack

[2020-01-10 15:07] Yucked commented on #62
Can you show me your code? I can help debug that issue and extending LavaTrack is simple.

[code]
Then instead of queueing LavaTrack you queue your CustomTrack. And cast IQueueable to CustomTrack when de-queueing from queue.

[2020-01-10 16:40] snoww commented on #62
For the interface method heres my implementation:

[code]

and then I create a new request and add it to the queue.
[code]

this all works fine. But when I cannot get the custom request when doing getting the current track info
i.e.
[code]
the `currTrack` would be a `LavaTrack`

[2020-01-10 17:07] Yucked commented on #62
Yeah then my previous reply should be of help.

[2020-01-10 17:21] snoww commented on #62
So when I extend LavaTrack, would it be something like this?
[code]
and then I do
[code]
correct?

[2020-01-10 17:24] Yucked commented on #62
Yes, that should be it.

[2020-01-10 17:37] snoww commented on #62
I get this error when casting
[code]

[2020-01-10 17:50] Yucked commented on #62
Rip I know why. Okay so when you get tracks from search they are not RokiTrack. What you need to do is.
[code]
Try that and Lmk.

[2020-01-10 17:56] snoww commented on #62
heres what I did
[code]
the if statement is true every time

do I need to add the `LavaTrack` properties in `RokiTrack`? I dont think so right? since its extended from it.

Edit: what I've found out is that I would need to have a constructor in RokiTrack that sets the properties from LavaTrack, but I cannot since the set is private in LavaTrack

[2020-01-10 20:06] Yucked commented on #62
Okay that was dumb on my part. Casting hierarchy doesn't work that way. So, yeah I will have to creator a CTOR for LavaTrack. I'll do it in next release hopefully in few hours.

[2020-03-03 15:29] collectVood opened #63 "[ BUG ] "Connected and new voice channel ids are the same""
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

Version: 5.1.2

### `Describe the bug/issue.`

So this issue occurs pretty much randomly when the bot looses connection and seems like it's not really reproducable for me.

This is the main code I use when playing music to check if the player exist, if not the bot should join the chan

[2020-03-03 15:42] collectVood commented on #63
Could this be in relation to me connecting bots on ready? Possibly it not updating correctly if connection is directly lost on ready?

[2020-03-03 16:14] Yucked commented on #63
So, I may have a fix for this but I can't really test it out since I don't know how to make it behave like it lost connection.

If you're willing to fork Victoria and test it out lemme know.

[2020-03-03 16:24] collectVood commented on #63
Sure thing, I will do thanks for helping 👍

[2020-03-03 16:25] Yucked commented on #63
I remember you hooked into `UserVoiceStateUpdated` event. Does that even fire when you lose connection or when you reconnect?

[2020-03-03 16:34] Yucked commented on #63
[code]

Can you replace the comments with your logging or Victoria's logging?

[2020-03-03 17:03] collectVood opened #64 "[ BUG ] SearchAsync always returning NoMatches"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

This could be related to my lavalink possibly but for some reason when using SearchAsync(someQuery); its loadstatus is always NoMatches. When using SearchYouTubeAsync(someQuery); this seems to not occur.

In other relations it seems like I am doing somet

[2020-03-03 17:06] Yucked commented on #64
Does lavalink say anything in console when that happens?

And iirc SearchAsync is used for links. I might be wrong about that.

[2020-03-03 17:08] collectVood commented on #64
Oh yeah an error, forgot to add that.

`Caused by: com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (JSON String, Number, Array, Object or token 'null', 'true' or 'false')
at [Source: (org.apache.http.client.entity.LazyDecompressingInputStream); line: 2, column: 2]
        at com.fasterxml.jackson.core.JsonParser._constructError(JsonParser

[2020-03-03 17:10] collectVood commented on #64
And for the `Could not find tracks from mix` I get this error:

`
2020-03-03 17:09:42.684 ERROR 1340 --- [ader-2-thread-1] lavalink.server.player.AudioLoader       : Load failed

com.sedmelluq.discord.lavaplayer.tools.FriendlyException: Could not find tracks from mix.
        at com.sedmelluq.discord.lavaplayer.source.youtube.YoutubeMixProvider.loadMixWithId(YoutubeMixProvider.java:99) ~[lavaplaye

[2020-03-03 17:10] Yucked commented on #64
That seems like a Lavalink failing to parse the JSON. So either something broke in Lavalink/LavaPlayer or the response returned from those sites has changed.

[2020-03-03 17:41] collectVood commented on #63
Seems to not trigger for me when I cut the connection completly, what does trigger though is the LavaNode.OnWebSocketClosed event. Also when moving the bot it also counts as ` Check if lost connection?` because in that case old and new voicechannel would be not null, therefore the last if channels moved wouldn't trigger if set up in this order

[2020-03-03 20:01] Yucked commented on #63
Well if connection isn't lost then it should have the channels as not null since nothing was sent via discord to let it know that the new state Channel is null. But since you say it doesn't trigger anything I think that makes a very big problem no both sides.

[2020-03-04 18:13] collectVood opened #65 "[ BUG ] MoveChannelAsync() causes newState.VoiceChannel in OnUserVoiceStateUpdated to be null"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---
Version: 5.1.2

### `Describe the bug/issue.`

For some reason it seems like whenever I use MoveChannelAsync() (on a voicechannel) it causes newState.VoiceChannel in OnUserVoiceStateUpdated to be null even though the bot is connected to a voicechannel.

### `Stacktrace / Screenshots`

[2020-03-04 18:14] collectVood commented on #65
Same goes when I manually check if the user is connected to a voicechannel in OnUserVoiceStateUpdated

[2020-03-04 18:16] collectVood commented on #65
Delaying the check `if ((user as IGuildUser)?.VoiceChannel == null)` seems to not solve my issue

[2020-03-04 20:24] Yucked commented on #65
That doesn't seem like a Victoria issue but rather a Discord.NET issue. Yes, the `newState.VoiceChannel` will be null since you will first have to disconnect then join a new channel.

[2020-03-04 20:33] collectVood commented on #65
Oh true, that makes sense... Thank you :)

[2020-03-04 20:33] #65 closed, assigned to Yucked

[2020-04-07 13:04] Naendo opened #66 "[ BUG ] Search Request Actively Refused"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Hey,
so i was trying to implement a music bot with .net core 3.0 and this guy:
![image](https://user-images.githubusercontent.com/56106169/78672297-c026d800-78e0-11ea-945e-253cb7b045aa.png)

caused an major issue:
![image](https://user-images.githubuserc

[2020-04-07 13:34] #66 closed, assigned to Yucked

[2020-04-07 14:59] Yucked commented on #66
Uh, did you solve it already?

[2020-04-07 15:01] Naendo commented on #66
Yep sorry 🌵

[2020-04-12 17:27] Yucked commented on #64
I'm guessing this issue got resolved? I'd be closing this now.

[2020-04-19 09:54] ChrisVDB36 opened #67 "[ HELP ] OnTrackFinished is no longer working for me"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

Hi,

I am re-doing my bot, and, when I try out the music tools im running in a problem with a specific event. The "OnTrackFinished" event.
Somehow the event "OnTrackFinished" for the LavaSocketClient seems to be no longer working for me.. To make sure, I commented out all code in my m

[2020-04-19 12:13] Yucked commented on #67
Hey can you tell me which versions of Victoria is that happening on?
And, what's the lavalink version you are using?
Also, your Java version.

[2020-04-19 13:00] ChrisVDB36 commented on #67
Hi,

I am using Victoria version 4.0.17
Lavalink version is v3.3.1, updated that a day ago from https://github.com/Frederikam/Lavalink/releases
Java version is 12.0.2 (2019-07-16)

I have 2 bots using the same versions from above, one is running on .NET Core & the other on just .NET and the problem seems to be in both of the bots

[2020-04-19 16:51] Yucked commented on #67
Okay for some odd reason they have added anything to `IMPLEMENTATION.md` and nothing in `CHANGELOG.md` regarding TrackFinished event.

I'll check out v4 and v5 to see if they work with latest release

[2020-04-23 01:33] Yucked commented on #67
Okay wanted to give a quick update. The error was caused by a missing event it seems. Let me know if you come across any issues.

[2020-04-23 11:51] renanrcp commented on #67
I'll test it later

[2020-04-25 20:53] ChrisVDB36 commented on #67
Hey,
I updated to 4.0.18 and it works again 👯
Thanks a lot for taking your time to look into this, my bot is back working properly again 👍

[2020-04-25 20:54] #67 closed, assigned to Yucked

[2020-05-10 13:43] Daniele122898 opened #68 "[ BUG ] RemoveRange doesn't work properly"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Calling `player.Queue.RemoveRange(0,9)` only removes the first 2 entries. To properly do a multi skip i had to use
[code]

[2020-05-10 16:45] Daniele122898 opened #69 "[ BUG ] Stats event doesn't fire"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

[code]

The stats event is definitely sent by lavalink but the onstatsevent is never fired by victoria. So smth is breaking there.

[code]
This event is never triggered.

[2020-05-10 16:47] Yucked commented on #69
Can you tell me what version you are using?

[2020-05-10 16:47] Yucked commented on #68
Can you tell me what version you are using?

[2020-05-10 16:57] Daniele122898 commented on #68
v5.1.3

[2020-05-10 16:57] Daniele122898 commented on #69
v5.1.3

[2020-05-10 16:59] Daniele122898 commented on #68
Actually i think it even only removed 1 entry. Since i also call skip after it that's why 2 where skipped.
So that function seems to only get rid of the first track in the queue

[2020-05-10 17:19] Yucked commented on #69
Hey I just tested it myself and I'm receiving updates.
![image](https://user-images.githubusercontent.com/20461656/81505941-cb866e00-92a7-11ea-812b-abedbddc3b79.png)

Lavalink also seems to be working fine:
![image](https://user-images.githubusercontent.com/20461656/81505958-f375d180-92a7-11ea-8996-58c38147d233.png)

Code: https://github.com/Yucked/Avis/blob/master/src/Services/MusicService.cs

[2020-05-10 17:56] Daniele122898 commented on #69
Im receiving all events but not the OnStatsReceived.
i have it hooked `_node.OnStatsReceived += OnStatsReceived;` and everything but nothing is coming in. All other events are fine but i never receive stats

https://github.com/Daniele122898/SoraBot-v2/blob/dev/SoraBot/SoraBot.Bot/Modules/AudioModule/AudioEventHandler.cs#L33-L41

Also if you enable debug logging you can see that victoria receives i

[2020-05-10 18:05] Yucked commented on #69
That's very strange. If you have VS could you perhaps run your bot in Debug mode and check the output window for any exceptions related to Victoria?

![image](https://user-images.githubusercontent.com/20461656/81506837-055a7300-92ae-11ea-9171-f51ba05ee3ac.png)

That might narrow the problem down a bit. If nothing is thrown then it's probably not Victoria which would then lead me to ask you about y

[2020-05-10 18:14] Daniele122898 commented on #69
I did that. that's where i have this from: `[18:41:56 DBG] {"playingPlayers":0,"op":"stats","memory":{"reservable":8573157376,"used":32857352,"free":271229688,"allocated":304087040},"players":0,"cpu":{"cores":16,"systemLoad":0,"lavalinkLoad":0.0684084030621328},"uptime":11861}`

This is output from victoria so it definitely receives the stats payload.
I use the latest lavalink 3.3.1 and java 13 as

[2020-05-10 18:24] Yucked commented on #69
Did you have this problem before? Last known version where it was working?

[2020-05-10 18:29] Daniele122898 commented on #69
I haven't used Victoria for a while but i think in version 4.0.17 it still worked. If i remember correctly.

[2020-05-10 22:50] Yucked commented on #68
Okay so I've fixed this one. The initial version of that method is this:

[code]

I might have to optimize it a bit more or if others can help out in my Guild but if not then this would be it.

[2020-05-10 23:00] Yucked commented on #69
I'm still looking into it but so far I can't seem to figure out the problem. I know in v4 I used Newtonsoft.Json and in v5 I'm using STJ and custom converters but custom converters do throw hard exceptions if something doesn't work out. In which case Victoria isn't throwing any errors on your end at all regarding events.

Since reset of your events are working fine, could you perhaps fork Victoria

[2020-05-11 09:41] Daniele122898 commented on #68
Can you push this so i can alter it?

[2020-05-11 17:37] Yucked commented on #68
Sure thing! Also if you want to test out the changes: https://www.myget.org/F/yucked/api/v3/index.json

[2020-05-16 23:01] Yucked commented on #68
I'll be closing this issue. Feel free to reopen it if it doesn't work out.

[2020-05-16 23:01] #68 closed, assigned to Yucked

[2020-05-28 12:50] Daniele122898 commented on #69
hey sorry im currently studying for finals. not sure yet when i get to it but i'll try it out as soon as i got time again

[2020-05-28 16:12] Yucked commented on #69
Hey, no worries! I'm also busy studying for finals. Good luck!! I have also pushed out v5.1.6 on nuget with few changes that *might* have fix the problem you're having.

[2020-06-19 08:06] Amoo0001 opened #70 "[ BUG ] No connection could be made because the target machine actively refused it"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Probably the same issue as this user, but I can't figure it out:
https://github.com/Yucked/Victoria/issues/66

When trying to search YouTube, an exception is thrown.  Do I need to log in somehow?  Is there a standalone executable I need to be running alo

[2020-06-19 14:23] Yucked commented on #70
Did you follow the Readme and wiki?

[2020-06-19 14:38] Amoo0001 commented on #70
Yes, very carefully.  I found an application called Lavalink, is this the same Lavalink?  Do I need to run this application also?
https://github.com/Frederikam/Lavalink

[2020-06-19 14:39] Amoo0001 commented on #70
Oh!  I missed a part of the Wiki!  I might not need help anymore, I'm so sorry.  Let me see if I can get it to work, and I'll close this if so.

[2020-06-19 14:43] Amoo0001 commented on #70
Ok search isn't crashing anymore now that I'm running Lavalink, but it's not returning any results for any query.  Do I need to customize application.yml somehow?  I know YAML but I'm not sure what needs to be changed.

[2020-06-19 14:53] Amoo0001 commented on #70
I got it to work, thanks for pointing me back to the Wiki... I was very careful but I was operating on little sleep and I missed a paragraph that was rather important!  Thanks again and sorry for the noise.

Take care <3
- Amy

[2020-06-19 15:23] Yucked commented on #70
No worries! I'm glad you figured it out. 👍☺️

[2020-06-26 14:39] hiilikewiki opened #71 "[ PROPOSAL ] Media from files/urls"
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`

Does what it says on the tin, so I don't have to use reflection.

[2020-06-26 15:26] Yucked commented on #71
I'm sorry I don't understand what you're asking for here. What are you using reflection for? Where are you using it? What does it have to do with media from file/url/Victoria?

[2020-06-26 15:49] hiilikewiki commented on #71
Unless I misunderstood something, how should I go about playing files from a link?

[2020-06-26 15:52] Yucked commented on #71
Playing files from a link? Do you've a folder online that host these files? If so, get individual direct links of these files and use `LavaNode#SearchAsync(MY_FILE_DIRECT_LINK)`. Anything that is a directory or a direct link, `SearchAsync` should be used for it. Also, make sure in your `application.yml` you enable `local` if these files are local and `http` if the files are direct.

[2020-06-26 15:55] hiilikewiki commented on #71
Oh, right that's cool. I was invoking WithUrl xD Thanks

[2020-06-26 15:55] #71 closed, assigned to Yucked

[2020-07-02 17:48] djthegr8 commented on #70
having the same problem.....
It keeps saying Waiting x seconds before attempt #x

[2020-07-02 18:02] Yucked commented on #70
@djthegr8 This problem usually happens if:

1. You downloaded and ran Lavalink.jar without download application.yml
2. The application.yml is not in the same directory as lavalink.jar
3. You specified a different port and host in application.yml and didn't change it in `LavaConfig`
4. You started Lavalink.jar programmatically e.g Process.Start("java -jar Lavalink.jar") and didn't specify WorkingDi

[2020-07-02 18:11] djthegr8 commented on #70
I used the PartyBot test, and i do have application.yml.**example** in the same folder (is that wrong?)

[2020-07-02 18:12] djthegr8 commented on #70
application.yml != application.yml.example or something?

[2020-07-02 18:12] Yucked commented on #70
You should rename it to `application.yml` instead of `application.yml.example`.

[2020-07-02 18:13] djthegr8 commented on #70
Explains..lemme test it
Thx a ton (nice lib btw)

[2020-07-02 18:27] Yucked commented on #70
Let me know how it goes. And, thank you! Glad you like it.

[2020-07-02 18:33] djthegr8 commented on #70
Yay it worked! Thx

[2020-07-02 18:35] djthegr8 commented on #70
Btw does it only work on links?

[2020-07-02 18:37] Yucked commented on #70
No, you can also use raw queries such as "The Weeknd Valerie", etc.

Although, there are 3 methods. `SearchAsync` searches links only. `SearchYouTubeAsync` & `SearchSoundCloudAsync` handle raw queries.

You can sum them into one line though:
[code]

[2020-07-03 02:32] #70 closed, assigned to Yucked

[2020-07-03 03:44] djthegr8 opened #72 "[ BUG ] FriendlyException: Something broke while playing the track (YouTube Search)"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

#### `Original:`
I was playing from yt and got this error, there is no sound being played.
FriendlyException: Something broke while playing the track

#### `Revised:`
When making a YouTube search either via a raw query (``!Search The Weeknd Valerie``) or

[2020-07-03 03:54] Yucked commented on #72
That's lavalink not being able to play the track. You can requeue it and hope that it plays.

[2020-07-03 04:43] djthegr8 commented on #72
The same thing happens with every yt video, altho soundcloud works

[2020-07-03 15:33] djthegr8 commented on #72
well nothing works.......
although i guess the problem is not in victoria, so should i close?

[2020-07-03 16:44] Yucked commented on #72
No. You can try getting the latest lavalink release from their CI and see if that fixes it.

[2020-07-03 17:30] djthegr8 commented on #72
I am using the very latest build, downloaded it day before yesterday.

On Fri, 3 Jul 2020, 22:14 Yucked, <notifications@github.com> wrote:

[2020-07-03 17:59] Yucked commented on #72
Then I'm sorry. There is nothing that can be done on Victoria's end. If Lavalink puts out a fix, you'll have to try that.

Update: Fixed in latest version of Lavalink.

[2020-07-12 23:59] Yucked commented on #69
@Daniele122898  Were you able to resolve it in newer versions of Victoria? I'll be closing this issue tomorrow.

[2020-07-13 00:01] Yucked commented on #63
@collectVood Do you still encounter this issue?

[2020-07-13 14:58] Daniele122898 commented on #69
hey im sorry i didnt touch the coding project in a while since my exams are starting now so im deep into the studies. but you can close this if you want and in a month or two when im back i'll check :)

[2020-07-14 02:32] Yucked commented on #69
Alrighty. Good luck with your exams!

[2020-07-14 02:32] #69 closed, assigned to Yucked

[2020-07-15 01:38] #63 closed, assigned to Yucked

[2020-07-15 01:39] #72 closed, assigned to Yucked

[2020-07-30 01:15] Eloncase opened #74 "[ BUG ] https lavalink server"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Hi! My Lavalink server is running behind nginx proxy and is configured to use SSL. Currently it's not possible to connect Victoria to secured Lavalink server mostly because of hardcoded [http](https://github.com/Yucked/Victoria/blob/582a94c4de433d1a912ce

[2020-07-30 03:33] Yucked commented on #74
Does it work with the changes you implemented? If so, do open a PR, edit the project file and update the release notes to reflect the changes you made and bump up the patch version. I'll review those changes next morning before merging/approving them.

[2020-07-30 15:23] #74 closed, assigned to Yucked

[2020-08-26 19:23] Daniele122898 commented on #69
Just wanted to let you know that whatever you did seems to have fixed the issue with the missing stats :D

[2020-09-10 23:15] Yucked commented on #62
This feature has been added in v5.1.9. You are now able to extend LavaTracks.

[2020-09-10 23:15] #62 closed, assigned to Yucked

[2020-10-30 00:01] jihadkhawaja commented on #64
[Command]	/play omfg hello
[LAVALINK]	2020-10-30 01:58:28.567  INFO 4184 --- [ XNIO-1 task-48] l.server.player.AudioLoaderRestHandler   : GET /loadtracks
[LAVALINK]	2020-10-30 01:58:29.478  WARN 4184 --- [ader-2-thread-1] c.s.d.l.s.youtube.YoutubeSearchProvider  : Failed to match ytInitialData JSON object
[LAVALINK]	2020-10-30 01:58:29.479  INFO 4184 --- [ader-2-thread-1] lavalink.server.player.Au

[2020-10-30 00:02] Yucked commented on #64
?????

[2020-10-30 00:03] jihadkhawaja commented on #64
Search always returning null, sometimes it works after retrying for more than 20 times, then it give same error again, what could be the isssue ?

[2020-10-30 00:04] Yucked commented on #64
That's a Lavalink issue sadly. If Lavalink doesn't return anything, Victoria won't show anything.

[2020-10-30 02:23] #64 closed, assigned to Yucked

[2020-10-30 13:16] jihadkhawaja commented on #64
For anyone having the same issue, I solved it by downgrading to [OpenJDK 13](https://www.oracle.com/java/technologies/javase-jdk13-downloads.html) and updating [Lavalink](https://github.com/Frederikam/Lavalink/releases)

[2020-11-12 21:57] dakata1337 opened #78 "[ BUG ] "reason":"STOPPED" instead of "reason":"FINISHED""
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

My discord bot has TrackEnded function. This function is triggered by Victoria when a track ends. In this function i have a check like this:
[code]
With the latest version of Lavalink when the track ends and the reason is "STOPPED". I downgraded to Laval

[2020-11-25 19:00] FireController1847 commented on #78
Was this issue resolved then? What's the status?

[2020-12-02 20:05] Yucked commented on #78
I thought it got pushed but apparently not. Lemme get on that.

[2020-12-02 20:11] Yucked commented on #78
It should be live now. Apparently nuget key expired.

[2020-12-02 21:06] FireController1847 commented on #78
Glad to hear, I'll test it soon. Thanks a ton :)

[2020-12-02 22:29] dakata1337 commented on #78
@Yucked I updated to 5.1.10 still same issues.

[2020-12-05 02:55] Yucked commented on #78
Just realized you failed to provide crucial information: https://github.com/Frederikam/Lavalink/issues/408

[2020-12-05 03:05] Yucked commented on #78
@FireController1847 @dakata1337 This isn't an issue on Victoria's end.  `ShouldPlayNext()` is an extension method. You are not required to use it which is why Victoria gives you the flexibility you need. You can create your own extension method or handle each case the way you want to:

The code of extension method is fairly straight forward:
[code]

You can add your own check if you want, you can

[2020-12-05 03:10] FireController1847 commented on #78
Very interesting. I didn't know about this misunderstanding of stopped vs finished. This may be unrelated to the issue I was having, then. I use `ShouldPlayNext()` to determine, of course, whether or not to play the next song, or to just stop playing entirely. I'm still not sure I understand *when* stopped vs finished is called, however. Though maybe my issue is unrelated to this issue... I'll do

[2020-12-05 03:15] Yucked commented on #78
I'm currently following the Lavalink issue dakata1337 opened and did ask him few questions. STOPPED was supposed to send only and only if you called StopAsync which meant to completely stop the player. But now, Lavalink is sending STOPPED for every normal track as well which is obviously going to make it extremely difficult to determine whether a user wants to stop the player all together or play

[2020-12-12 15:14] Eskolo opened #79 "Can't play local .mp3 audio Files"
I cant get to play audio files from local file path even tho lavalink should support this. I only got youtube search querys to work. Can somebody help me ? local source is set to true.

[2020-12-12 16:53] Yucked commented on #79
Hey, make sure you in your application.yml file you enable Local (set it to true) then use LavaNode#SearchAsync and provide the path to file

[2020-12-15 12:24] dakata1337 commented on #78
Any updates?

[2020-12-15 15:46] Yucked commented on #78
@dakata1337

I don't manage Lavalink. According to that thread, Lavalink is sending wrong TrackFinished for tracks less than <=5 seconds.

The solution was also provided above.

[2020-12-18 20:23] #79 closed, assigned to Yucked

[2020-12-22 00:35] Yucked commented on #78
Please make sure v5.1.11 fixes your issue.

[2020-12-22 20:35] dakata1337 commented on #78
v5.1.11 fixed all the issues i've had.
Thank you for all the help @Yucked!

[2020-12-22 20:35] #78 closed, assigned to Yucked

[2020-12-29 22:43] dakata1337 opened #80 "[ Question ] Why is the default Player volume set to 0?"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

This is more like a question and not a bug. Why is the default Player volume set to 0? If I set it to 100 it sounds the same.

Code:
[code]

[2020-12-29 23:36] Yucked commented on #80
It's not initialized in the CTOR of LavaPlayer, the actual default volume is 100 on Lavalink's side. On Victoria's end the volume is whatever value you set it to in UpdateVolumeAsync

[2020-12-29 23:43] #80 closed, assigned to Yucked

[2021-01-09 00:27] danielriddell21 opened #81 "[ BUG ] Enqueuing songs cause playing song lag"
I have integrated spotify to my music bot, if you go to queue a playlist it will enqueue all the songs but the bot will lag and disconnect.

Is there a way I can enqueue songs but dont download them instantly, so it will download them either at end of song playing or near the end?

[2021-01-09 13:09] danielriddell21 commented on #81
Fixed with a RunMode.Async on the command

[2021-01-09 13:09] #81 closed, assigned to Yucked

[2021-02-12 22:57] noronhains opened #82 "No connection could be made because the target machine actively refused it"
Hello!

I'm trying to make my bot, but when I try to use "lavaNode.SearchYouTubeAsync()" it's returning "No connection could be made because the target machine actively refused it. (127.0.0.1:2333)".

The only parameter that I configured was ".AddLavaNode(x => { x.SelfDeaf = false; });" nothing else.

Do I need to have any kind of service running on my computer or need to setup something else in m

[2021-02-12 23:06] #82 closed, assigned to nobody

[2021-02-20 15:44] cxnky opened #83 "[ BUG ] NullReferenceException on PlayAsync"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

When calling PlayAsync with a track (which has full information specified), I get a NullReferenceException

### `Stacktrace / Screenshots`

[code]

Line 102 is ``await player.PlayAsync(track);``

track is the following:
![image](https://i.imgur.com/NtgKV

[2021-02-20 15:49] Yucked commented on #83
Have you checked whether the LavaPlayer is null?

[2021-02-20 16:01] cxnky commented on #83
I just double checked the docs, I forgot to call ConnectAsync on the node

[2021-02-20 16:01] #83 closed, assigned to Yucked

[2021-03-24 09:39] Glenvds opened #84 "[ BUG ] Abnormal Closure (code: 1006) throws WebSocketException"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

At a random time (didn't find any trigger yet) when my music bot is in a voicechannel I get the event Abnormal Closure of type WebSocketClosedEvent. Everytime this event happens I get a WebSocket Exception some time later (in the given log this is ~70min

[2021-03-24 14:13] Yucked commented on #84
```WebSocket Exception + reconnect:```
Seems like discord having a hiccup. If there is a hiccup, discord.net doesn't receive UserVoiceStateUpdated and VoiceServerUpdate events resulting in Victoria not being able to forward them but since Lavalink also states "WebSocketClosedEvent", that's their Voice WS connection closing. There is nothing that either Lavalink and Victoria or D.NET can do when Di

[2021-03-24 16:13] Glenvds commented on #84
@Yucked Thank you for your insight.

So I think the only solution is to reconnect the Lavalink connection after the WebSocket is closed? Any tips on doing this while not losing the state of his current players/queues?

[2021-03-24 16:14] Yucked commented on #84
It should be automatically resumed by default once the connection is established.
Lemme know if that isn't the case.

[2021-03-25 07:57] Glenvds commented on #84
Well, how I see it:

1. Hiccup happens (WebSocketClosedEvent)
2. WebSocket Exception
3. Discord.NET reconnects the gateway (but not Lavalink?)
4. Bot still works, but doesn't play the music coming from Lavalink

So it looks to me the connection between Lavalink and my client is broken somehow.
As the bot keeps responding in textChannels, his connection with Discord is up.
The only thing he isn't d

[2021-03-25 18:29] Yucked commented on #84
Bot doesn't send out any music, Lavalink sends out music. You have to check whether or not Lavalink re-establishes the gateway connection to Discord. If it does, it should automatically resume and if it doesn't make sure LavaConfig.ResumeEnabled is set to true.

[2021-03-29 07:42] Glenvds commented on #84
@Yucked Ok, thanks for the information.

[2021-03-29 07:42] #84 closed, assigned to Yucked

[2021-04-16 14:27] hellox5 opened #85 "[ BUG ] Stop streaming audio"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

is there a reason to stop streaming audio? although there is no problem appearing in the console, to fixing this problem must disconnect from Lavalink and reconnect, I think the token of the voice channel is changing and Victoria doesn't send it to WebSo

[2021-06-14 17:59] Emptyn3ss opened #88 "[ BUG ] No connection could be made because the target machine actively refused it"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`
Hello.

I got an issue with my Discord bot. When I try to use the SearchAsync () or SearchYouTubeAsync () method, I get this error message. I disabled the firewall but it didn't work like the other solutions I've used.

I will be very grateful for your he

[2021-06-14 18:07] Yucked commented on #88
Is Lavalink running on that port? Are you able to connect to Lavalink via websocket?

[2021-06-14 18:15] Emptyn3ss commented on #88
Subscribed OnLog event returned this message:

![image](https://user-images.githubusercontent.com/85898043/121939326-958ea580-cd55-11eb-859d-340ea504fc82.png)

[2021-06-14 18:21] Yucked commented on #88
Which means you aren't connected to Lavalink.
https://yucked.github.io/Victoria/guides/getting-started/setup.html?tabs=tabid-lavagit%2Ctabid-ngt

[2021-06-15 08:10] Emptyn3ss commented on #88
I'm really appreciate you for help. Thank you!

[2021-06-15 08:10] #88 closed, assigned to Yucked

[2021-07-11 22:06] cxnky commented on #85
I'm also getting an issue similar to this: all youtube livestreams seem to automatically stop at the 6 hour mark?

[2021-07-11 22:32] Yucked commented on #85
The information given doesn't narrow it down. Victoria does send the voice channel token every time voice server update is received.

[code]

[2021-07-14 22:48] #85 closed, assigned to Yucked

[2021-07-27 02:23] unwell35 opened #90 "[ BUG ] can't skip the track when got stuck"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

There is not much to explain, but when the track got stuck I can't skip it, always gets this error: Player state doesn't match any of the following states: Connected, Playing, Paused.

### `Stacktrace / Screenshots`
![issue](https://user-images.githubuse

[2021-07-28 23:52] quinchs opened #91 "[ PROPOSAL ] Add support for Discord.Net Labs"
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`
Create a build targeting [Discord.Net Labs](https://github.com/Discord-Net-Labs/Discord.Net-Labs) so users who are using labs can also use victoria

[2021-07-29 14:15] Yucked commented on #91
It is a complete rewrite of D.NET? Any D.NET dependencies? If you have Discord.Net.WebSocket as a dependency then Victoria should work fine with D.NET Labs.

[2021-07-29 14:28] quinchs commented on #91
Labs is a rework of dnet, the two arnt compatable

[2021-07-29 20:13] quinchs commented on #91
people using labs cant use victoria as victoria requires a dnet component

my suggestion is to have another build of victoria that targets the labs websocket component

[2021-07-29 20:41] Yucked commented on #91
Sure I could do that but I won't be placing it on Nuget. People will have to reference MyGet in their projects and DNet Labs should have been a fork of D.NET to avoid having a rebranded d.net clone.

I'll have to package up later on MyGet, if your users ask for Victoria support please ask them to add the following in their project file:

[code]

[2021-08-02 18:08] Matusson opened #92 "[ BUG ] KeyNotFoundException in LavaNode.cs"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

After connection and authorization are complete, the connection is constantly being closed and reopened again with code 1006, with no provided reason. The issue is consistently reproducible, may have occasionally happened before 5.2.0 but after upgrading

[2021-08-04 10:17] Matusson commented on #92
Update, the issue only seems to happen on LavaLink builds from the dev branch (available on the CI server). I was using build 1233, also tested 1236 and 1242, and ran into the same issue. Build 1232 (from the master branch) seems to work perfectly.
Looks like the dev branch has some breaking changes, I'm assuming I'll have to wait until dev is merged to master for Victoria to support it?

[2021-08-10 18:28] d4n3436 commented on #91
Temporary workaround: Downgrade Victoria to version 5.1.11. This version works fine with Labs.

[2021-08-24 13:20] Aaalexer opened #94 "DefaultQueue modification"
I will be very happy if author add's a new method, to DefaultQueue, which add's an LavaTrack on first place in Queue. I know that DefaultQueue works on LinkedList<T> and it will be easy(i think).

[2021-08-24 16:14] Yucked commented on #94
Commit 9a9648fc6cc5e0ea6b5b7b65dc39ad2492107015 addresses that feature request.
[code]

[2021-08-24 16:16] Yucked commented on #92
I checked the master & dev branches for any changes to IMPLEMENTATION.md and the incoming message for `playerUpdate` hasn't changed.

https://github.com/freyacodes/Lavalink/blob/dev/IMPLEMENTATION.md#incoming-messages
https://github.com/freyacodes/Lavalink/blob/master/IMPLEMENTATION.md#incoming-messages

The key exists in both messages yet the exception thrown claims it isn't there. Regardless, co

[2021-08-24 16:17] Yucked commented on #90
Resolved in commit b75e22269f62750a1487c6fc400569e9d645e635. It only checks for `PlayerState#None`.

[2021-08-24 19:14] dvub opened #95 "[ BUG ]"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

Basically, if you play the same track twice with LavaLink, or have a song identical to the song that is playing in the queue, and you skip to it, the player completely shuts down with error code 1006. Same issue with the OnTrackEnded event and you use it to loop a song.

![image](https://u

[2021-08-24 19:18] #90 closed, assigned to Yucked

[2021-08-24 19:18] #94 closed, assigned to Yucked

[2021-08-26 10:29] Aaalexer opened #96 "Extension for adding Generic LavaNode via IServiceCollection"
There isn't shortcut method to add LavaNode to IServiceCollection with custom player class.  Just add new overload like this:

[code]

[2021-08-30 13:46] cxnky opened #98 "[ BUG ] WebSocket is not in an open state"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`
Every so often when someone tries to play something, Victoria will just come back with the error

"WebSocket is not in an open state. Current state: None".

This happens completely randomly, only happens on my actual bot - not when running locally or anyt

[2021-08-30 14:03] Gameoholic commented on #98
I've had this happen to me as well.
I wrote this code so that if a track is playing, it will skip it and replace it with another track (assume there is only 1 track in the queue at a time):
[code]

The problem arises when a track is already playing. So it does enqueue it and skip the current one, but upon trying to play the new track I get the following error:
WebSocket is not in open state. Curre

[2021-08-30 14:16] Yucked commented on #98
What version of Victoria are you using?

[2021-08-30 14:23] cxnky commented on #98
5.2.1

[2021-08-31 15:34] Yucked commented on #95
That was solved in recent commits and should no longer happen on 5.2.2. Feedback still appreciated.

[2021-08-31 15:34] #95 closed, assigned to Yucked

[2021-08-31 15:34] Yucked commented on #92
Closing this issue. If the issue persist, feel free to reopen it and report your findings.

[2021-08-31 15:34] #92 closed, assigned to Yucked

[2021-09-01 13:32] Jaika1 opened #99 "[ BUG ] System.NullReferenceException when using LavaPlayer.PlayAsync"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

*Please provide as many details as possible. Such as line number, file name, if the bug is reproducible, etc.*

The bug appears to occur almost completely at random, but seems to be common with v5.2.1, and unavoidable with v5.2.2. When awaiting LavaPlaye

[2021-09-01 13:37] Aaalexer commented on #99
Victoria 5.1.11 works fine.

[2021-09-01 13:41] Jaika1 commented on #99
v5.2.0 seems to be fine on top of that as mentioned above, but this seems to be present past that. I'll currently be sticking with v5.2.0 myself, since there are some types I'm using that were introduced in that version.

[2021-09-01 15:11] Glaceon7 opened #100 "[ BUG ] ResumeAsync not working properly due to JSON serialization"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`
Hi, a friend of mine had used the latest package(5.2.2 as we speak) of Victoria. This lead to him not being able to use the ResumeAsync() method properly. The music did not continue playing after pausing. We reverted back to version 5.1.11 and the ResumeA

[2021-09-01 17:02] Gameoholic opened #101 "[ BUG ] WebSocket is not in an open state. Current state: None"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Describe the bug/issue.
Every so often when I try to play a track with the bot I get this error:

"WebSocket is not in an open state. Current state: None".
My bot plays music automatically (no need to write a command or anything), and I've run the bot a

[2021-09-01 17:45] Yucked commented on #99
Did you try 5.2.2 by any chance?

[2021-09-01 17:47] Yucked commented on #100
What version of Lavalink are you using. The payload for Pause and Resume are the same.

[2021-09-01 17:47] Yucked commented on #101
What version of Victoria?

[2021-09-01 18:32] RofLBotZ94 commented on #100
Hello, I've also experienced this issue in 5.2.1 and it carried over to the 5.2.2 version for me.

I did some digging around the code, and I believe I've found the issue. It's due to the serialization options of the payload, that ignores default values. In order to pause or resume the track, the json to be sent to the server, needs to have a "pause" property set to "true" to pause or set to "false

[2021-09-01 18:47] Yucked commented on #100
You are absolutely right! I will try other JSON serialization flags to workaround the null values instead of defaults

[2021-09-01 20:40] Jaika1 commented on #99
Yes I did, which seemingly made the 2 provided methods always cause the issue in my experience.

[2021-09-02 06:44] Yucked commented on #99
Since, it is random, it's difficult to reproduce. If my suspicion is correct and having encountered this problem randomly few times, I imagine it must be a concurrency problem. I'll try few other things and provide an update in few days.

[2021-09-02 14:38] Gameoholic commented on #101
5.2.1

[2021-09-02 16:52] cxnky commented on #101
also getting this error, #98

[2021-09-02 17:06] Yucked commented on #101
Tracking this on #98

[2021-09-02 17:06] #101 closed, assigned to Yucked

[2021-09-02 19:11] Gameoholic commented on #101
FYI, I updated to version 5.2.2 and the issue is still present.

[2021-09-02 19:12] Gameoholic commented on #98
The same issue happens when using version 5.2.2.

[2021-09-04 07:05] RofLBotZ94 opened #103 "[ BUG ] NullReferenceException on LavaPlayer.PlayAsync(Action<PlayArgs> playArgsAction)"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

This method always throws NullReferenceException.

![Screenshot_5](https://user-images.githubusercontent.com/45794321/132084836-8c07a5ed-d61e-4f0f-ba65-8bfa337a137e.png)

This is due to the fact that `PlayArgs` is a `struct` and not a `class`, which mean

[2021-09-04 20:16] Gameoholic opened #104 "[ BUG ] Skipping to a track doesn't play it"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Whenever I try to enqueue 2 tracks, for example:
!playy happy birthday
!playy lofi beats
It plays the first one and enqueues the second one.
However, upon skipping:
!skipp
It stops the first track but doesn't play the second one. Furthermore, when I try

[2021-09-04 20:22] Yucked commented on #104
What version?

[2021-09-04 20:24] Gameoholic commented on #104
5.2.2

[2021-09-04 20:48] Yucked commented on #103
I noticed that a while back but forgot to push a fix out. Thank you for reminding me! The best solution would be to declare it as a class.

[2021-09-04 20:48] #103 closed, assigned to Yucked

[2021-09-04 20:52] Yucked commented on #104
SkipAsync returns the currentTrack and the skippedTrack.
[code]

Though, using your method doesn't result in null ref for me.

[code]
![image](https://user-images.githubusercontent.com/20461656/132107758-5464fffa-44a3-4b8a-8d65-5bfc41ad703f.png)

[2021-09-04 20:54] Yucked commented on #100
This was resolved in #103 and cf23ef7acf5b362d0d21adf6fba9630813b5d26d.

[2021-09-04 20:54] #100 closed, assigned to Yucked

[2021-09-04 20:57] Yucked commented on #96
Added in cf23ef7acf5b362d0d21adf6fba9630813b5d26d

[2021-09-04 20:57] #96 closed, assigned to Yucked

[2021-09-04 21:01] Yucked commented on #99
Can you please try 5.2.3 and see if the issue persists?

[2021-09-04 21:01] Yucked commented on #98
Can you please try 5.2.3 and see if the issue persists?

[2021-09-05 06:31] Eloncase commented on #104
There is a weird issue with skip. Sometimes (not always) when you skip a track you can get null reference [here](https://github.com/Yucked/Victoria/blob/90ebb68eaa72804b67577b03a5c0c90e9578be8a/src/LavaNode.cs#L462).
Version is 5.2.3.

![image](https://user-images.githubusercontent.com/13663047/132117163-a99db730-4f1d-4d0c-be0c-208571a65f5d.png)

[code]

My speculation is that it sets track to `nu

[2021-09-05 09:25] Jaika1 commented on #99
I've been playing with it for about an hour now, and I've seen no issues so far! I'll let you know in detail if that changes anytime in the future.

[2021-09-05 16:40] Gameoholic commented on #104
UPDATE:
Either something was faulty in my code or the newest version (5.2.3) fixed my issue.
Thank you! I will not close the thread due to the person above me

[2021-09-06 21:47] GabiRP opened #105 "[ BUG ] Using lavaNode.ConnectAsync() in the ShardReady event throws an InvalidOperationException"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

When using lavaNode.ConnectAsync() on the ShardReady event throws an error: System.InvalidOperationException: _socketClient is not in ready state.

### `Stacktrace / Screenshots`

Code:
[code]

[2021-09-06 21:48] Yucked commented on #105
The error is self explanatory. Your discord client hasn't reached ready state.

[2021-09-06 21:54] GabiRP commented on #105
As it says in the readme.md, `In your DiscordSocketClient or DiscordShardedClient Ready event call _instanceOfLavaNode.ConnectAsync();`

Since there is no Ready event in DiscordShardedClient, i thought ShardReady was ok. What event should i use if ShardReady doesn't mean the discord client hasn't reached ready state?

[2021-09-06 21:55] Yucked commented on #105
You will have to wait till all your shards are ready I believe

[2021-09-06 21:59] GabiRP commented on #105
Yup, it was that, i just tried and it worked, thank u!

[2021-09-06 22:03] Yucked commented on #105
Enjoy!

[2021-09-06 22:03] #105 closed, assigned to Yucked

[2021-09-07 12:15] #99 closed, assigned to Yucked

[2021-09-07 12:15] Jaika1 commented on #99
I haven't had this issue emerge since, seems safe to call this one closed for now! 👏

[2021-09-07 18:54] Yucked commented on #104
@Eloncase The other solution is to check in trackUpdate for null track and ignore

[2021-09-07 19:10] RofLBotZ94 commented on #104
Hi again,

I have a proposal that will fix this issue which isn't with SkipAsync exactly, it's with PlayAsync that happens to be called on SkipAsync.
It kinda changes the logic of keeping track of the position of the player, not by much but it does change it a bit.
I'll start a feature-request issue to elaborate on it and hopefully start a bit of a brainstorm session.

Edit: Link for the issue #10

[2021-09-07 19:27] RofLBotZ94 opened #106 "[ PROPOSAL ] Track the player position on LavaPlayer rather than the LavaTrack."
<p align="center">
<img src="https://media.giphy.com/media/2sYKSgbdkXvrpn7eBN/giphy.gif" width="40%"/>
</p>

---

### `Proposal Description:`

I noticed the issue where if there happens to be a `playerUpdate` event in between a `TrackEndEvent` and a `TrackStartEvent` it breaks the playback. I wondered about instead of keeping track of the player position on the `LavaTrack` if it wouldn't make more

[2021-09-08 16:41] Aaalexer commented on #91
It doesnt work on Victoria 5.1.11

[2021-09-08 17:17] Aaalexer commented on #91
When discord.labs support will arrive?

[2021-09-08 18:46] quinchs commented on #91
[code]

[2021-09-08 19:01] Aaalexer commented on #91
It doesnt work

[2021-09-08 20:57] Yucked commented on #91
My bad fellas, if 5.1.11 works with dnetlabs according to @d4n3436 then 5.2 should work too as only few things were changed:

v5.1.11:
[code]

v5.2:
[code]

And targetframework updated from 3.0 to 3.1.

[2021-09-09 14:27] Aaalexer commented on #91
I dont know, it still doesnt work

[2021-09-09 16:47] AlexandreBazeaud commented on #91
I'm using 6.0 with d.net labs and it works fine for me, no problem

[2021-09-09 16:47] Aaalexer commented on #91
NET 6?

[2021-09-09 16:48] AlexandreBazeaud commented on #91
Victoria 6.0 and Net 5.0

[2021-09-09 16:48] Aaalexer commented on #91
Im asking about victoria 5.2+ and net5

[2021-09-09 16:56] AlexandreBazeaud commented on #91
Then saying "it doesn't work" doesn't help, show us errors please.

[2021-09-09 17:01] Aaalexer commented on #91
You already know about this, but, for everyone. When invokes ConnectAsync method, victoria throws `System.InvalidOperationException: _socketClient is not in ready state.` exception. Im using victoria 5.2.3, d.labs 3.0.3 and net 5

[2021-09-09 17:09] AlexandreBazeaud commented on #91
Ok, i had the same issue using Victoria V6, Are you using DiscordShardedClient ?

[2021-09-09 17:10] Aaalexer commented on #91
Yes

[2021-09-09 17:15] AlexandreBazeaud commented on #91
Ok, so the problem come from  LavaNode.cs and has been resolved in 6.0 with this commit, https://github.com/Yucked/Victoria/commit/2c5be19c56e0a29663fc76e15159b1dc0e603b74
problem come from _socketClient`?`.CurrentUser which does black magic and think for some reason that CurrentUser is null, probably somewhere a operator override. removing the `?` should fix the problem

[2021-09-09 17:17] Aaalexer commented on #91
Im using nuget package, so i cant edit it. Problem in victoria, as i understand

[2021-09-09 17:18] AlexandreBazeaud commented on #91
Yes i may push a fix if i have time, don't know how many time you need to wait to get a new version. If your project is kinda small you may want to consider using Victoria 6.0 as this version works.

[2021-09-09 17:20] Aaalexer commented on #91
I will be very happy if you will push a fix

[2021-09-09 17:21] AlexandreBazeaud commented on #91
you will not get the new nuget package isntantly if i do this so you need to either wait or use v6.0 for now.

[2021-09-09 17:23] Aaalexer commented on #91
Okay, thx for help

[2021-09-12 01:12] Yucked commented on #98
Closing this, if the issue arises again please feel free to reopen.

[2021-09-17 22:46] Yucked commented on #106
You make a good case though Victoria has never kept track of track updates in player. I checked code prior to v5.2 and noticed I was keeping a check before setting the track property to default (095421ae19cd592dd8f1a7854f339af1e3d62586). That will most likely resolve it since nothing broke in 5.1.x.

[2021-09-17 22:47] Yucked commented on #104
Closing this issue. Please refer to #106 discussion, 095421ae19cd592dd8f1a7854f339af1e3d62586 commit and #108.

[2021-09-17 22:47] #104 closed, assigned to Yucked

[2021-09-17 22:48] #91 closed, assigned to Yucked

[2021-09-18 00:33] RofLBotZ94 commented on #106
I believe it will fix the issue as well. It's just that like @Eloncase mentioned, the fix feels a bit "dirty" and to me it also doesn't feel right to keep track of the player's `LastUpdate` on the player but not the position. The best way that I can explain it is with the analogy of reading a file with a `FileStream`, where the stream is the one that holds the position of the file it is currently

[2021-09-21 02:53] Moonbase2004 opened #110 "[ BUG ] Cannot apply indexing with [] to an expression of type 'IReadOnlyCollection<LavaTrack>'"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

When trying to get the tracks from 'searchResponse', I cannot access the contents of the list.

### `Stacktrace / Screenshots`

*When debugging yourself, you can attach screenshots of Autos/Locals tabs in Visual Studio.*

[2021-09-21 12:59] Yucked commented on #110
You can Google that error. It's not Victoria related.

[2021-09-21 12:59] #110 closed, assigned to Yucked

[2021-09-21 13:00] Yucked commented on #106
I'll add it in 6.0 and keep it that way moving forward. Thank you!

[2021-09-21 13:00] #106 closed, assigned to Yucked

[2021-09-21 14:59] RofLBotZ94 commented on #106
Glad I could help and thank you for taking the time to hear my suggestion.

[2021-09-26 10:05] jaydenfrn opened #111 "[ BUG ] SearchAsync requires a SearchType parameter"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

LavaNode SearchAsync method requires a SearchType parameter when the documentation says otherwise. Is the method supposed to require a SearchType even though the method is supposed to search through all SearchTypes?

### `Stacktrace / Screenshots`

![sea

[2021-09-26 22:27] Yucked commented on #111
https://github.com/Yucked/Victoria/wiki/🔮-Changelog#-additions

[2021-09-26 22:27] #111 closed, assigned to Yucked

[2021-10-01 09:02] lunarleafy opened #112 "Randomly started getting this error."
My bot used to work fine. However, randomly I started getting this error message every time I would try to use a command. I even recoded the entire bot from scratch and got the same issue. I'm assuming it may have something to do with the Lavalink player itself but I'm not really sure..

console output
![image](https://user-images.githubusercontent.com/75377673/135593875-290c053d-85e8-41fb-95cd-f7

[2021-10-02 13:06] cxnky commented on #98
Still getting the error on 5.2.3,

[14:06:22 INF] [Lavalink] System.NullReferenceException: Object reference not set to an instance of an object.
   at Victoria.LavaNode`1.OnDataAsync(Byte[] data)
   at Victoria.LavaSocket.ReceiveAsync()

[2021-10-03 06:56] Yucked commented on #98
what line?

[2021-10-03 06:58] Yucked commented on #112
Lavalink doesn't show anything about an incoming request. That error means that Victoria isn't connected to Lavalink. Check if you're calling ConnectAsync in your Ready event.

[2021-10-03 19:46] lunarleafy commented on #112
![image](https://user-images.githubusercontent.com/75377673/135769155-37f0683b-2e9c-4ca4-8c99-8b5355ce8327.png)
this is what ive had, i havent changed anything

[2021-10-05 15:31] Yucked commented on #112
Then it should be opening a connection to Lavalink and Lavalink should be stating that as well. Are you subbed to your Ready event

[2021-10-09 11:19] lunarleafy commented on #112
Hey, I just fixed it after recoding it for a 3rd time, I realized that by resetting the application.yml to default and resetting up my Lavalink I was able to actually get a connection from my bot to my Lavalink.jar.

[2021-10-09 11:19] #112 closed, assigned to nobody

[2021-10-09 18:45] #98 closed, assigned to Yucked

[2021-10-18 23:34] ghost opened #113 "Play/Skip Commands occasionally don't work"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

*I have noticed that sometimes when my play/skip command is used, victoria loses its connection to LavaLink, but im not sure why as the commands work 99% of the time?*

### `Stacktrace / Screenshots`

*Here is a screenshot of the error when the play/skip

[2021-10-19 01:19] Yucked commented on #113
what version

[2021-10-19 02:44] ghost commented on #113
Victoria Version - 5.2.3
LavaLink Version - [Latest release](https://github.com/freyacodes/Lavalink/releases/tag/3.3.2.5)
Discord.Net Version - 2.4.0

[2021-11-17 08:33] SoNiice opened #114 "[ BUG ] YouTube playlists max receiving 320 tracks"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

[code]

[2021-11-17 09:00] SoNiice commented on #114
Nevermind, I saw Lavalink has a setting option for maximum pages to load in playlists, my bad.

[2021-11-17 09:00] #114 closed, assigned to Yucked

[2021-11-27 14:27] sniggyfigbat opened #115 "[ BUG ] SearchType.SoundCloud produces an invalid SearchResponse object."
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

I can play direct links to SoundCloud just fine using SearchType.Direct, and SearchType.YouTube is working fine. However, when searching SoundCloud (with terms that definitely have results, I checked) I get an object that doesn't seem to have been set up correctly:

![image](https://u

[2021-11-27 16:57] Yucked commented on #115
What result does the SoundCloud search return? Can you use Postman/Insomnia to make a request and return the json response and also post it here?

[2021-12-13 02:36] unwell35 opened #116 "[ BUG ] LavaNode.IsConnected returns true"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

LavaNode.IsConnected is always returns true even if the lavalink is stopped

[2021-12-19 22:15] Yucked commented on #115
No activity.

[2021-12-19 22:15] #115 closed, assigned to Yucked

[2021-12-19 22:17] Yucked commented on #116
Added additional checks where it may end up closing connections 0d9dc38394a7eb23023e55816d9c99d4dbfa2c2f

[2021-12-19 22:17] #116 closed, assigned to Yucked

[2021-12-19 22:17] Yucked commented on #113
Fixed in a658212cf0d5c4d7faed75a817b581bd017b09c2

[2021-12-19 22:17] #113 closed, assigned to Yucked

[2021-12-25 05:35] nssa-dev opened #117 "Skip throws exception[ BUG ]"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---
Issue

SkipAsync throws Victoria.LavaException when enqueuing and skips any track in playlist with Russian named songs. Manually added songs doesn't.

Screenshots
![Discord_FyUeib2ju5](https://user-images.githubusercontent.com/69722067/147378156-ba5e7396-af1a-4ed9-9cdc-26771fe09115.png

[2021-12-25 05:45] Yucked commented on #117
That's Lavalink throwing an exception. Victoria can't do anything about it other than re-queue.

[2021-12-25 05:45] #117 closed, assigned to Yucked

[2022-01-07 19:53] BlyZeDev opened #119 "[ BUG ] Doesnt fire the TrackEndEvent and TrackStartEvent"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

Doesnt fire the TrackEndEvent and TrackStartEvent on this soundcloud track. ( https://soundcloud.com/thegreatnepyrus/mario-and-luigi-bowsers-inside-story-music-ost-04-boss-battle ).
This for example ( https://soundcloud.com/kifbenderclassical/mario-and-l

[2022-01-07 19:56] BlyZeDev commented on #119
It plays but doesnt fire TrackStartedEvent and when its finished it doesnt fire TrackEndEvent.
It doesnt fire TrackException or TrackStuckEvent either

[2022-01-07 20:14] Yucked commented on #119
What have you tried? Is it only for that song? Does Lavalink fire the event? Does the event show up in Victoria’s log event? Does it throw any exception? Please provide information, I can’t debug your code for you.

[2022-01-07 20:43] BlyZeDev commented on #119
I made breakpoints to see if the events get fired but there dont.
Its only for that song, all the other songs from soundcloud, youtube, twitch and youtube music I tried are firing the events as the should.
Lavalink fires the event and it shows up in the log.
It only throws an exception in lavalink. See pictures

Thats when i play the song that doesnt work
![Screenshot 2022-01-07 213914](https://us

[2022-01-07 20:48] Yucked commented on #119
Increase BufferSize in your LavaConfig

[2022-01-07 20:50] BlyZeDev commented on #119
Okay thanks :)

[2022-01-07 20:50] #119 closed, assigned to Yucked

[2022-01-10 22:36] kloczewiak opened #120 "[ BUG ] LavaNode.SearchAsync() shouldn't select videos that are age restricted."
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

`LavaNode.SearchAsync()` shouldn't select songs that are age restricted, because this results in a `OnTrackException` when the track gets played.
Either this or add a `isPlayable` flag to `LavaTrack` so we can handle this before the track gets queued.

#

[2022-01-10 22:53] Yucked commented on #120
Belongs there https://github.com/freyacodes/Lavalink

[2022-01-10 22:53] #120 closed, assigned to Yucked

[2022-01-14 04:52] TBooty opened #122 "[ BUG ] can’t seem to load YouTube playlist?"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`
whenever a YouTube playlist is linked it will sanitize the input to a single YouTube video and only play that.

I was digging through some old pull requests and I noticed some one mentioned an option to set it to true or false. Is there an option i am mis

[2022-01-14 14:53] Yucked commented on #122
Which PR are you referring to?

[2022-01-14 16:12] TBooty commented on #122
I saw it here

https://github.com/Yucked/Victoria/pull/36

But that was 2019 and it looks like the lava test client was deprecated

[2022-01-14 23:06] Yucked commented on #122
No that is completely unrelated. What you are mentioning is a Lavalink issue. Victoria forwards the information the Lavalink and it's up to Lavalink/LavaPlayer to parse everything on their end.

[2022-01-14 23:07] TBooty commented on #122
Sounds good. Will dive into lavalink to see how it returns.

Thanks for your help

[2022-01-14 23:11] #122 closed, assigned to Yucked

[2022-01-19 16:06] BlyZeDev opened #123 "LyricsResolver Index out of bound"
**Describe the bug**
Index was out of the bounds of the array error when I try to fetch lyrics.

**Expected behavior**
To get the lyrics from Genius and OVH.

**Screenshots**
![Screenshot 2022-01-19 170128](https://user-images.githubusercontent.com/95288041/150168663-0b5104bf-ba80-4713-8c91-d1fe7d306559.png)
![Screenshot 2022-01-19 170201](https://user-images.githubusercontent.com/95288041/1501686

[2022-01-19 16:09] Yucked commented on #123
What song was it?

[2022-01-19 16:09] BlyZeDev commented on #123
https://www.youtube.com/watch?v=aYKN5_b7yVo

[2022-01-19 16:10] Yucked commented on #123
Is that song on Genius?

[2022-01-19 16:11] BlyZeDev commented on #123
It is but its instrumental
https://genius.com/Camellia-flamewall-lyrics

[2022-01-19 16:11] BlyZeDev commented on #123
So I need to catch that

[2022-01-19 16:14] Yucked commented on #123
The parser cleans out the video title and checks whether the uploader name includes the artist name as well and matches that.

There is no way for it to know if:
Camellia Official [FREE DL] Flamewall [Symphonic Speed Metal] == Flamewall かめりあ (Camellia) == https://genius.com/Camellia-flamewall-lyrics

Please be mindful

[2022-01-19 16:14] #123 closed, assigned to Yucked

[2022-01-30 15:49] asteria121 opened #124 "[Bug]: OnTrackFinished event not firing at all with no exception or error"
### Describe your issue in as much detail as possible

I'm using Victoria v4.0.18 with latest LavaLink and Java.
LavaSocketClient events are not firing like OnTrackFinished. Codes like below. Even no exception or error message.
I'm currently using Discord.Net v2.2.0 and Discord.Addons.Interactive. I use v2.2.0 because this addon doesn't works on Discord.Net upper than v2.2.0.

public Task Initiali

[2022-01-30 16:10] d4n3436 commented on #124
v2.2.0 is almost 2 years old, you should definitely use v3.2 and an updated interactive addon like Fergun.Interactive or Discord.InteractivityAddon.

[2022-01-30 16:38] asteria121 commented on #124
Yeah, I updated Discord.Net to latest v3.2.1 and using DiscordInteractivity. But same problem. I also victoria log level to debug and got this.

[01-30-2022 04:36 오후] Victoria   : {"sessionId":"a73a08c0c5bb3d81d99b9aa65b151309","event":{"endpoint":"south-korea1067.discord.media:443","guildid":"936820198726565949","token":"2704bad376dfb7c6"},"guildId":"936820198726565949","op":"voiceUpdate"}
[01-30

[2022-02-02 20:09] #124 closed, assigned to Yucked

[2022-02-03 05:20] TBooty opened #125 "[Bug]: Player state is playing yet tracking is not being processed"
### Describe your issue in as much detail as possible

I recently had to switch from .Net standard 6.0 to .netcore 3.1
So I downgraded victoria to V5.2.3

I noticed that my songs no longer play from the player.
If I debug it, I can see that the player exists, it has a queue of 1 and has a track loaded the status is set to playing but the position of the track remains 0:0:0

If I check my discord b

[2022-02-03 05:41] TBooty commented on #125
Diving into this more I noticed when it joins a channel it throws an error and dies and restarts the connection
![image](https://user-images.githubusercontent.com/16490252/152287759-21bfc1ab-ece0-4c5f-b9d8-00b88060e400.png)
I haven't changed lavalink at all, just downgraded my .net version and the version of victoria.

Not sure why it disconnects as soon as it joins the voice channel

So it seems

[2022-02-03 23:03] Yucked commented on #125
Downgraded from Netstandard6.0 to Net Core 3.1? Why?

Can you put Lavalink and victors in debug mode and see if they are actually the track update position?

the second issue is completely unrelated. What .Net framework you use doesn’t matter to Lavalink. You need to use latest version of Lavalink since you’re using a last version of Lavalink which deprecated shards count for client header.

[2022-02-03 23:25] TBooty commented on #125
How do I put Victora into debug mode?
Lavalink seems to be chugging along and says decoding websocket frames

[2022-02-03 23:27] Yucked commented on #125
Set log severity to debug in lavaconfig and use the OnLog event in Lavanode

[2022-02-03 23:28] TBooty commented on #125
![image](https://user-images.githubusercontent.com/16490252/152446366-f877bd3a-f031-4b66-a902-757e1355ddad.png)

The position doesn't seem to update

![image](https://user-images.githubusercontent.com/16490252/152446549-dc6395a3-bd02-4031-9bbd-c7d9f8d82274.png)

[2022-02-03 23:31] Yucked commented on #125
Then Lavalink isn’t sending it

[2022-02-03 23:36] TBooty commented on #125
![image](https://user-images.githubusercontent.com/16490252/152446847-bc12925d-ca13-422f-b2b4-d05172877d78.png)
not too familiar on the lavalink side, but it seems to be sending the events, the song will end it will initiate the auto disconnect but the player never advances

I had a working setup before I downgraded by .net version and my version of victoria.

(I downgraded due to slash commands n

[2022-02-03 23:50] Yucked commented on #125
It can send the events but still not send the position update data that is needed. Does it happen for all tracks?

[2022-02-03 23:51] TBooty commented on #125
Yeah happens for every video I queue up. I can’t seem to get a single one to track

[2022-02-04 00:18] TBooty commented on #125
If I change my .net version back to .net 6.0 and victoria 5.25 it works just fine...

As soon as I step down to that previous version of victoria it no longer works

[2022-02-04 00:22] Yucked commented on #125
The only thing I can think of is that it referencing the wrong System.Text.Json library in .netcore3.0

[2022-02-04 00:23] TBooty commented on #125
No worries, I think it may be easier to just swap back to what is working and chase down my other issue with docker.

Thank you for your help on this.

[2022-02-04 00:23] #125 closed, assigned to Yucked

[2022-02-26 13:03] sniggyfigbat opened #126 "[Bug]: Various types of System.InvalidOperationException thrown at shut-down."
### Describe your issue in as much detail as possible

When I shut down my .NET program, Victoria seems to throw exceptions.
- If Lavalink isn't connected: `System.InvalidOperationException: "Can't disconnect when client isn't connected."`
- If Lavalink is successfully connected (regardless of whether in use): `System.InvalidOperationException: "WebSocket is not in open state. Current state: Close

[2022-02-26 19:21] Yucked commented on #126
- If Lavalink isn't connected: `System.InvalidOperationException: "Can't disconnect when client isn't connected."`

That happens if disconnect is called when you have already disconnected from Lavalink.

- If Lavalink is successfully connected (regardless of whether in use): `System.InvalidOperationException: "WebSocket is not in open state. Current state: CloseSent".`

If Victoria is connected to

[2022-02-28 22:23] BlyZeDev opened #127 "[Bug]: TrackStartEvent fires twice"
### Describe your issue in as much detail as possible

This fires the TrackStartEvent twice but nothing else does.

![Screenshot 2022-02-28 223607](https://user-images.githubusercontent.com/95288041/156068245-3fd16045-ed7d-4487-9006-655ef381cfb1.png)

### Version

v5 (Latest)

### Version

GitHub's latest

### Relevant log output

_No response_

[2022-03-01 11:07] #127 closed, assigned to Yucked

[2022-04-20 20:13] fernandesdiego opened #128 "LavaPlayer.VoiceChannel value doesn't change after moving to another channel"
### Describe your issue in as much detail as possible

When I join the bot to one of my voice channels, then I move it to another channel through discord's UI, it keeps playing on the new channel, that's good, but the player's ```VoiceChannel``` property stays with the first channel value.

[code]

I subscribed to the ```OnPlayerUpdated``` event, but I can move the bot to multiple channels and the

[2022-04-20 20:41] Yucked commented on #128
Hmmm, I'll check it out

[2022-04-27 11:05] Rmkrs opened #129 "[Feature Request]: TrackEncoder"
### Describe your issue in as much detail as possible

Would it be possible to get the opposite of the TrackDecoder, being a TrackEncoder.

I've been playing around with having custom playlists, that do not originate from a search done with LavaLink.
I can populate all fields of a LavaTrack, but the only one I'm missing is the Hash.
And LavaTrack's without the Hash will not be played unfortunately

[2022-05-28 13:48] TheMeq opened #130 "[Bug]: Expected end of string, but instead reached end of data."
### Describe your issue in as much detail as possible

Sometimes, I get the following error message using Victoria (5.2.8) from NuGet.

``Expected end of string, but instead reached end of data. LineNumber: 0 | BytePositionInLine: 512.``

This completely stops playback and I can't see a way to catch/recover from this error message without restarting the bot and manually playing another track.

Thi

[2022-05-28 14:52] Yucked commented on #129
Send me a rough concept of how DefaultAudioPlayerManager does it or where you say encoding being done, maybe I can find a way to replicate it.

[2022-05-28 14:53] Yucked commented on #130
That's a long track hash which seems to be not fitting in the default buffer size of websocket. Increase the websocket buffer to twice the length and it should fix it.

[2022-05-28 14:54] Yucked commented on #126
Gonna close this issue since no response.

[2022-05-28 14:54] #126 closed, assigned to Yucked

[2022-05-28 14:56] #128 closed, assigned to Yucked

[2022-05-28 14:59] TheMeq commented on #130
Thanks, will give it a whirl and i'll report back if any further issues. Many Thanks.

[2022-05-28 14:59] #130 closed, assigned to Yucked

[2022-05-28 15:27] Rmkrs commented on #129
The DefaultAudioPlayerManager source can be found [here ](https://github.com/sedmelluq/lavaplayer/blob/97a8efecfe3cb79da4d7d0422de0179e18c30947/main/src/main/java/com/sedmelluq/discord/lavaplayer/player/DefaultAudioPlayerManager.java)

The encodeTrack method starts at line 243:

[code]
That was the easy part, but the DataOutput is the working horse here. And that's what I could not find a .NET equ

[2022-05-28 15:28] Rmkrs commented on #129
And I guess I suck at placing comments too without closing the issue immediately...

[2022-07-26 10:33] Onik97 opened #131 "[Bug]: https://yucked.github.io/Victoria/ Endpoint returns 404"
### Describe your issue in as much detail as possible

When clicking on https://yucked.github.io/Victoria/ on the README.md file. I get a 404

### Version

v5 (Latest)

### Version

GitHub's latest

### Relevant log output

_No response_

[2022-07-30 04:46] RofLBotZ94 commented on #129
Hello

I also thought about having a track encoder, as I too had been having some cases lately, where Lavalink doesn't seem to be able to find some tracks that I want (may be that I am just not using/setting it properly), so I came here to suggest it being implemented as well and stumbled on this issue.

I tried implementing something myself and it seems to be working, at least with a few dozen tr

[2022-07-30 15:28] Yucked commented on #131
Documentation located on wiki now

[2022-07-30 15:28] #131 closed, assigned to Yucked

[2022-07-30 15:33] Yucked commented on #129
Sheeeessh, do you want to open a PR. I'm ready to merge it and push it out today @RofLBotZ94

[2022-07-30 15:37] Rmkrs commented on #129
Nice work @RofLBotZ94 :)

[2022-07-30 17:31] RofLBotZ94 commented on #129
I just wanted to post it here to see what you thought about it first and since your last commit said something about working on major/minor, it could be that you were making some significant changes and maybe this could break something. Or like I mentioned before, you could have already implemented it. But anyways, if it's good enough for you, it's good enough for me :). I will send it in just a m

[2022-07-30 18:26] Yucked commented on #129
Thank you so much

[2022-07-30 18:26] #129 closed, assigned to Yucked

[2022-09-10 07:20] valen030 commented on #70
Hi, my bot was able to join and leave according to command but i have a problem with this line
`var search = Uri.IsWellFormedUriString(query, UriKind.Absolute) ? await _lavaNode.SearchAsync(query) : await _lavaNode.SearchYouTubeAsync(query);`

which is executed when "play" command.
The error i get is "No connection could be made because the target machine actively refused it."

[2022-09-12 03:32] DrDevinRX opened #134 "[Bug]: SkipAsync does not work for child classes of LavaTrack"
### Describe your issue in as much detail as possible

If you use a child class of `LavaTrack` and put it in the queue, `SkipAsync` will throw an `InvalidCastException`.
This is done here: https://github.com/Yucked/Victoria/blob/v5/src/LavaPlayer.cs#L221.

For example, my child class:
[code]

This has worked in older version of v5, but after updating to the latest, I can't skip tracks and it throw

[2022-10-19 21:37] ivanbiljan opened #135 "[Bug]: Equalizer does not propagate updates?"
### Describe your issue in as much detail as possible

I'm using the equalizer as a bass booster. Boosting works fine, however resetting a boosted stream does not. See image below:
![image](https://user-images.githubusercontent.com/7541476/196808611-fe259489-205b-4c55-8e89-03bf4c3483a8.png)

Setting the boost to `BassBoost.High` produces expected results with audios such as https://www.youtube.com

[2022-10-19 22:12] Yucked commented on #134
Pushed it recent update

[2022-10-19 22:13] Yucked commented on #135
Unsure if it gets ignored because 0.0 is default value. Try -0.1 and see if that works

[2022-10-19 22:20] ivanbiljan commented on #135
Right, I saw the JsonIgnore, however I forgot to mention that I tried going from -0.25 to 0.35 and that didn't work either unfortunately

[2022-10-21 21:44] ivanbiljan commented on #135
For whatever it's worth I just tested this against the `v6` branch and it seems to work as intended

[2022-11-26 07:01] TheKrush opened #136 "[ BUG ] LavaPlayer.Vueue should be LavaPlayer.Queue and should be referred to something similar throughout the code"
Bit confusing and I think it was just a find & replace bug. Maybe named it LavaPlayerQueue to avoid any issues with other Queue classes

[2022-11-26 07:05] TheKrush commented on #136
The example code for a Play command also fails to compile due to this as well as various other (i assume updates) to the code.

This body should compile with the current nuget package:
[code]

[2022-11-29 09:14] XDeveluxe opened #137 "[ BUG ] .PlayAsync with PlayArgs always throws NullReferenceException"
<p align="center">
<img src="https://media.giphy.com/media/20JY76TfKAhR20SfJu/source.gif" width="25%"/>
</p>

---

### `Describe the bug/issue.`

When trying to use .PlayAsync with Args - its always throws NullException.

### `Stacktrace / Screenshots`
![image](https://user-images.githubusercontent.com/102395107/204487895-610e74f1-82dc-4d86-ada1-5f94e86de700.png)